@use 'sass:color';
@use '../config/color/brand';

.sl-c-alert {
  background: var(--sl-background--alert, var(--sl-color--highlight));
  color: var(--sl-color--white);
  font-size: var(--sl-font-size--small);
  padding-bottom: var(--sl-padding-block--alert, var(--sl-gutter--minus));
  padding-top: var(--sl-padding-block--alert, var(--sl-gutter--minus));
  text-align: var(--sl-align--alert, center);

  p,
  ul,
  dl {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p,
  li,
  dd {
    max-width: none;
  }

  a {
    --sl-color--link: var(--sl-color--white);
    --sl-background--link-state: rgba(0, 0, 0, 6.25%);
    --sl-border-color--link: #{rgba(
        brand.$sl-color--white,
        var(--sl-border-opacity--link, 0.5)
      )};

    font-weight: var(--sl-font-weight--bold);

    &:hover,
    &:focus {
      --sl-border-opacity--link: 0.75;
    }

    &:active {
      --sl-border-opacity--link: 1;
    }
  }
}

.sl-c-alert--info {
  --sl-background--alert: var(--sl-color--midnight-blue);
}

.sl-c-alert-title {
  margin-top: 0;
}
