@use "sass:color";
@use "../functions";
@use "../visual-design/theme";
@use "../visual-design/typography";

.sl-c-alert {
  padding: {
    top: functions.sl-px-to-rem(12px);
    bottom: functions.sl-px-to-rem(12px);
  }

  text-align: center;
  background: color.adjust(theme.$sl-color--hopbush, $lightness: -10%);
  color: theme.$sl-color--white;
  font-size: typography.$sl-font-size--small;

  p,
  ul,
  dl {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p,
  li,
  dd {
    max-width: none;
  }

  a {
    border-bottom-color: rgba(theme.$sl-color--white, 0.5);
    font-weight: typography.$sl-font-weight--bold;
    color: theme.$sl-color--white;

    &:hover,
    &:focus {
      border-bottom-color: rgba(theme.$sl-color--white, 0.75);
      background: rgba(black, 0.0625);
    }

    &:active {
      border-bottom-color: theme.$sl-color--white;
    }
  }

  &--info {
    background: theme.$sl-color--midnight-blue;
  }
}
