@use "../visual-design/typography";

.sl-c-attribution {
  font-weight: typography.$sl-font-weight--light;
  font-size: typography.$sl-font-size--small;

  &:first-child {
    text-align: center;
    margin-top: -3em;
    margin-bottom: 2em;
  }
}
