@use 'sass:color';
@use '../visual-design/typography';

.sl-c-button {
  align-items: center;
  border: 0;
  border-radius: var(--radius-button, var(--sl-border-radius--large));
  background: var(--color-button-background, var(--sl-color--iron));
  box-shadow: 0 2px 1px var(--sl-color--shadow);
  color: var(--color-button-text, var(--sl-color--highlight));
  cursor: pointer;
  display: var(--display-button, inline-block);
  font-weight: var(--font-weight-button);
  justify-content: center;
  margin: 0;
  padding: var(--sl-gutter--minus) var(--sl-gutter);

  &:hover,
  &:focus {
    background: var(--color-button-background-state, var(--color-button-background, var(--sl-color--link-action)));
    --color-button-text: var(--sl-color--action);
    color: var(--color-button-text-state, var(--color-button-text));
  }

  &:active {
    background: var(--color-button-background-active, var(--color-button-text, var(--sl-color--active)));
    color: var(--color-button-text-active, var(--color-button-text, var(--sl-color--highlight)));
  }

  &--primary {
    --color-button-background: var(--sl-color--highlight);
    --color-button-background-active: var(--sl-color--active);
    --color-button-background-state: var(--sl-color--action);
    --color-button-text: var(--sl-color--white);
    --color-button-text-active: var(--sl-color--white);
    --color-button-text-state: var(--sl-color--white);
  }

  &--tab {
    --color-button-background: var(--sl-color--code-background-darker);
    --color-button-background-active: var(--color-button-background-state);
    --color-button-background-state: transparent;
    --color-button-text: var(--sl-color--highlight);
    --color-button-text-active: inherit;
    --color-button-text-state: var(--sl-color--midnight-blue);
    --font-weight-button: #{typography.$sl-font-weight--bold};
    --radius-button: 0;

    box-shadow: none;
  }
}
