@use 'sass:color';
@use '../functions';
@use '../visual-design/theme';
@use '../config/color/brand';

.sl-c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 0 {
    /* stylelint-disable-next-line property-no-unknown */
    radius: functions.sl-px-to-rem(4px);
  }
  padding: var(--gutter-minus) var(--gutter);
  background: var(--color-button-bg, var(--sl-color--iron));
  box-shadow: 0 2px 1px var(--sl-color--shadow);
  color: var(--color-button-text, var(--sl-color--highlight));
  cursor: pointer;

  &:hover,
  &:focus {
    --color-button-text: var(--sl-color--action);
    --color-button-bg: var(--sl-color-link--action);
  }

  &:active {
    --color-button-text: var(--sl-color--active);
  }

  &--primary {
    --color-button-bg: var(--sl-color--highlight);

    &,
    &:hover,
    &:focus,
    &:active {
      --color-button-text: var(--sl-color--white);
    }

    &:hover,
    &:focus {
      --color-button-bg: var(--sl-color--action);
    }

    &:active {
      --color-button-bg: var(--sl-color--active);
    }
  }
}
