@use 'sass:color';
@use '../breakpoints';
@use '../visual-design/theme';

.sl-c-callout {
  margin: var(--gutter-sesqui) 0;
  padding: var(--gutter-sesqui) var(--gutter);
  background: color.adjust(theme.$sl-color--pale-sky, $lightness: 60%);
  border-radius: 2px;

  &--warning {
    background: color.adjust(theme.$sl-color--hopbush, $lightness: 38%);
    border: 1px solid color.adjust(theme.$sl-color--hopbush, $lightness: 27%);
  }

  &--fun-fact {
    background: color.adjust(theme.$sl-color--patina, $lightness: 47%);
    border: 1px solid color.adjust(theme.$sl-color--patina, $lightness: 32%);
  }

  &--function {
    padding-bottom: var(--gutter-quarter);
    padding-top: 0;

    .signature {
      // Make sure permalinks are visible.
      overflow: visible;
      margin-left: calc(var(--gutter) * -1);
      margin-right: calc(var(--gutter) * -1);
    }
  }

  &--impl-status {
    font-size: 0.8em;
    margin-top: calc(var(--gutter) * -1);
    padding: 0.8rem;

    .sl-c-callout & {
      background: color.adjust(theme.$sl-color--pale-sky, $lightness: 53%);
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@include breakpoints.sl-breakpoint--medium {
  .sl-l-container--overview {
    font-size: 1.25rem;

    .sl-c-callout {
      font-size: var(--gutter);
    }
  }
}

@include breakpoints.sl-breakpoint--large {
  .sl-c-callout--function {
    padding-left: 2.25rem;

    .signature {
      margin-left: -2.25rem;
      margin-right: 0;
    }
  }
}
