@use 'sass:color';
@use '../breakpoints';
@use '../config/color/brand';

.sl-c-callout {
  margin: var(--sl-c-callout--block-margin, var(--sl-gutter--sesqui)) 0;
  padding: var(--sl-c-callout--block-padding, var(--sl-gutter--sesqui))
    var(--sl-gutter);
  background: color.adjust(brand.$sl-color--pale-sky, $lightness: 60%);
  border-radius: var(--sl-border-radius--small);

  &--warning {
    background: color.adjust(brand.$sl-color--hopbush, $lightness: 38%);
    border: var(--sl-border--small) solid
      color.adjust(brand.$sl-color--hopbush, $lightness: 27%);
  }

  &--fun-fact {
    background: color.adjust(brand.$sl-color--patina, $lightness: 47%);
    border: var(--sl-border--small) solid
      color.adjust(brand.$sl-color--patina, $lightness: 32%);
  }

  &--function {
    padding-bottom: var(--sl-gutter--quarter);
    padding-top: 0;

    .signature {
      // Make sure permalinks are visible.
      overflow: visible;
      margin-left: var(--sl-gutter--negative);
      margin-right: var(--sl-gutter--negative);
    }
  }

  &--impl-status {
    font-size: var(--sl-status-text-size);
    margin-top: var(--sl-gutter--negative);
    padding: var(--sl-gutter--minus);

    .sl-c-callout & {
      background: color.adjust(brand.$sl-color--pale-sky, $lightness: 53%);
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@include breakpoints.sl-breakpoint--large {
  .sl-c-callout--function {
    padding-left: 2.25rem;

    .signature {
      margin-left: -2.25rem;
      margin-right: 0;
    }
  }
}
