.sl-c-footer-link-grid {
  align-items: center;
  display: grid;
  gap: var(--sl-gutter);
  grid-template-columns:  minmax(var(--sl-width--twitter-link), auto) auto 1fr;
}

.mac-stadium-icon {
  margin-block: 0;
  width: var(--sl-width--mac-stadium-icon);
}
