@use '../breakpoints';
@use '../visual-design/theme';

input {
  display: block;
  margin: 0 var(--gutter);
  border: 1px solid theme.$sl-color--iron;
  padding: var(--gutter-quarter) var(--gutter);
  width: 100%;

  @include breakpoints.sl-breakpoint--large {
    top: var(--gutter-half);
    margin: 0;
  }
}
