@use '../breakpoints';
@use '../visual-design/theme';

input {
  display: block;
  margin: 0 var(--sl-gutter);
  border: var(--sl-border--small) solid theme.$sl-color--iron;
  padding: var(--sl-gutter--quarter) var(--sl-gutter);
  width: 100%;

  @include breakpoints.sl-breakpoint--large {
    top: var(--sl-gutter--half);
    margin: 0;
  }
}
