@use "../breakpoints";
@use "../visual-design/theme";
@use "../visual-design/typography";

.sl-c-introduction {
  color: theme.$sl-color--patina;
  font-weight: typography.$sl-font-weight--light;

  @include breakpoints.sl-breakpoint--medium {
    font-size: typography.$sl-font-size--xx-large;
  }

  &--center {
    text-align: center;
  }
}
