.mac-stadium-icon {
  margin-top: var(--mac-stadium-margin-top, var(--sl-gutter));
  width: var(--mac-stadium-icon-width);

  .playground & {
    --mac-stadium-margin-top: 0;

    margin-block: 0;
  }
}
