@use 'sass:color';
@use '../config';
@use '../config/color/brand';

$playground-base-colors: (
  'info': var(--sl-color--code-info),
  'warning': var(--sl-color--code-warning),
  'error': var(--sl-color--code-error),
);

.playground {
  --sl-max-width--container: 100vw;

  display: grid;
  grid-template:
    'header' min-content
    'main' 1fr
    'footer' min-content / 100%;
  min-height: 100vh;
  overflow: hidden auto;

  @include config.sl-breakpoint--large {
    height: 100vh;
    overflow: hidden;
  }

  #main-content {
    display: inherit;
    overflow: inherit;
  }
}

.sl-r-banner--playground-grid {
  align-items: center;
  display: grid;
  grid-template:
    'logo title copy' auto
    'alert alert alert' minmax(0, auto) / 1fr 1fr 1fr;

  @include config.sl-breakpoint--large {
    grid-template: 'logo title copy' auto / 1fr 1fr 1fr;
  }
}

// add padding to items in order for alert to be full width
.sl-r-banner--playground__brand {
  padding-left: var(--sl-gutter);

  @include config.sl-breakpoint--small {
    padding-left: var(--sl-gutter--double);
  }
}

.sl-l-section--playground {
  --sl-inline-padding--container: 0;
  --sl-inline-padding--container-large: 0;

  border-bottom: 1px solid var(--sl-color--iron);
  display: inherit;
  overflow: inherit;
  width: 100%;
}

.sl-r-banner__playground-title {
  // Use smaller sizes for condensed header
  --h1-size: var(--sl-font-size--xx-large);
  --h1-size-lg: var(--sl-playground-heading);

  margin-bottom: 0;
}

// Playground banner actions area
.sl-r-banner__playground-actions {
  gap: var(--sl-gutter);
  display: contents;

  @include config.sl-breakpoint--large {
    display: grid;
    grid-template: 'alert copy' auto / minmax(0, auto) max-content;
  }
}

.sl-r-banner__playground-button {
  --sl-color--button: var(--sl-color--action-dark);
  grid-area: copy;
  justify-self: flex-end;
  padding-right: var(--sl-gutter);
  text-align: right;

  @include config.sl-breakpoint--small {
    padding-right: var(--sl-gutter--double);
  }
}

// Playground banner actions alert message
.sl-r-banner__playground-alert {
  --sl-padding-block--alert: 0;

  align-items: center;
  display: flex;
  grid-area: alert;
  height: 0;
  justify-content: center;
  opacity: 0;
  padding-inline: var(--sl-gutter--half);
  transition:
    opacity 0.3s 0.05s,
    visibility 0.3s;
  visibility: hidden;

  &.show {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

// Playground Editor area
.sl-c-playground {
  --sl-block-margin--callout: 0;
  --sl-block-padding--callout: var(--sl-gutter--quarter);
  --sl-color--button--tab: var(--sl-color--action-dark);

  display: grid;
  gap: var(--sl-gutter);
  grid-template:
    'sass' 1fr
    'css' auto
    'debug' auto / 100%;

  @include config.sl-breakpoint--large {
    // magic numbers, the layout is well balanced with these proportions
    grid-template:
      'sass css' minmax(20ex, 1fr)
      'sass debug' minmax(0, 40%) / 1fr 1fr;
    height: 100%;
    overflow: inherit;
  }
}

.sl-c-playground__panel {
  display: grid;
  overflow: inherit;
  grid-template:
    'editor-tabbar' min-content
    'editor-error' min-content
    'editor-code' 1fr / 1fr;
}

.sl-c-playground__panel-content {
  grid-area: editor-code;
  overflow: hidden auto;
}

// Source and Compiled code container
.sl-c-playground__code-editor-wrapper {
  background-color: var(--sl-background--editor);
  border: var(--sl-border--small) solid var(--sl-color--code-background-darker);
}

[data-code='source'] {
  --sl-background--editor: var(--sl-color--white);

  grid-area: sass;
}

[data-code='compiled'] {
  --sl-background--editor: var(--sl-color--code-background);
}

// Codemirror overrides
.cm-editor {
  background-color: var(--sl-background--editor);
  color: var(--sl-color--code-base, var(--sl-color--code-text));
  font-size: var(--sl-font-size--x-small);
  height: 100%;
  overflow-x: auto;
  overflow-y: inherit;

  .cm-gutters {
    background-color: transparent;
    border-right: none;
  }

  .cm-lineNumbers .cm-gutterElement {
    min-width: var(--sl-gutter--double);
    padding: 0 0.5ch 0 1.5ch;
  }

  .cm-content,
  .cm-tooltip-lint {
    font-family: var(--sl-font-family--code);
  }

  .cm-tooltip-lint {
    line-height: var(--sl-line-height--console);
  }

  .cm-scroller {
    overflow: unset;
  }

  .cm-line {
    padding-left: var(--sl-gutter);

    &::before {
      content: '\2022';
      color: var(--sl-color--bullet-line, transparent);
      font-size: var(--sl-font-size--x-large);
      left: 0;
      position: absolute;
      transform: translateY(-25%);
    }

    @each $name, $color in $playground-base-colors {
      &:has(.cm-lintPoint-#{$name}, .cm-lintRange-#{$name}) {
        --sl-color--bullet-line: #{$color};
      }
    }
  }

  .cm-activeLineGutter,
  .cm-activeLine {
    background-color: var(--sl-color--code-highlight-light);

    [data-code='compiled'] & {
      background-color: var(--sl-color--code-background);
    }
  }

  &.cm-focused {
    [data-code='source'] & {
      outline: 1px solid var(--sl-color--warning-light);
    }

    [data-code='compiled'] & {
      outline: 0;
    }
  }

  .cm-tooltip {
    border: none;
  }

  .cm-diagnostic {
    background: var(--sl-color--background-tooltip);
    border: 1px solid var(--sl-color--border-tooltip);
    color: var(--sl-color--code-text);
    padding: var(--sl-gutter--half);
  }

  @each $name, $color in $playground-base-colors {
    .cm-diagnostic-#{$name} {
      --sl-color--border-tooltip: #{$color};
      --sl-color--background-tooltip: var(--sl-color--code-#{$name}-light);

      border-color: $color;
    }
  }

  .cm-specialChar {
    color: var(--sl-color--code-bright);
  }

  .sl-code-is-source & {
    cursor: text;
  }
}

// Compiled CSS error
.sl-c-playground__error {
  display: none;
  font-weight: var(--sl-font-weight--bold);
  grid-area: editor-error;

  [data-compiler-has-error='true'] & {
    display: block;
  }
}

// Console specific styles
.sl-c-playground__console-wrapper {
  grid-area: debug;
}

.sl-c-playground__console {
  font-family: var(--sl-font-family--code);
  display: grid;
  gap: var(--sl-gutter);
  grid-auto-rows: max-content;
  grid-template-columns: [location] auto [message] 1fr;
  height: 100%;
  line-height: 1;
  margin: 0;

  .console-line {
    --sl-background--link: transparent;
    --sl-border-color--link: transparent;
    --sl-border-color--link-state: var(--sl-color--iron);

    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    margin-bottom: var(--sl-gutter--half);
    place-items: start;
  }

  .console-message {
    display: grid;
    grid-template-columns: [console-text] 1fr [swatch] max-content;
    line-height: var(--sl-line-height--console);

    > * {
      grid-column: console-text;
    }

    .cm-color-swatch {
      grid-column: swatch;
    }

    a {
      justify-self: start;
    }
  }

  // Debug panel uses Sass terms "warn" and "debug"
  // Code Mirror uses "warning" and "info"
  $console-type-colors: (
    'error': var(--sl-color--code-error),
    'warn': var(--sl-color--code-warning),
    'debug': var(--sl-color--code-info),
  );

  @each $name, $color in $console-type-colors {
    .console-type-#{$name} {
      color: $color;
    }
  }
}

// Playground Tab Bar & Buttons
.sl-c-playground__editor-tabbar {
  background-color: var(--sl-color--code-background-darker);
  color: var(--sl-color--text-medium-dark);
  display: flex;
  grid-area: editor-tabbar;

  [data-active='true'] {
    --sl-color--button: var(--sl-color--pale-sky);
  }

  [data-code='source'] & {
    [data-active='true'] {
      --sl-background--button: var(--sl-color--white);
      --sl-background--button-state: var(--sl-color--white);
    }
  }

  [data-code='compiled'] & {
    [data-active='true'] {
      --sl-background--button: var(--sl-color--code-background);
      --sl-background--button-state: var(--sl-color--code-background);
    }
  }
}

.sl-c-button--copy {
  --sl-display--button: flex;

  &.sl-c-button--icon {
    --sl-background--button: transparent;
    --sl-background--button-state: transparent;
    --sl-block-padding--button: 0;
    --sl-color--button: var(--sl-color--text-medium-dark);
    --sl-color--button-state: var(--sl-color--action-dark);

    box-shadow: none;

    &.copied {
      --sl-color--button-state: var(--sl-color--text-medium-dark);
    }
  }
}

[class^='sl-c-playground-button--copy'] {
  display: var(--sl-display--playground-button--copy);
  width: 0.9em;
}

.sl-c-playground-button--copy--copy {
  --sl-display--playground-button--copy: flex;

  .copied & {
    --sl-display--playground-button--copy: none;
  }
}

.sl-c-playground-button--copy--copied {
  --sl-display--playground-button--copy: none;

  .copied & {
    --sl-display--playground-button--copy: flex;
  }
}

// Make sure all tab bar buttons and text get the same padding
[data-tabbar~='item'] {
  padding: var(--sl-gutter--half) var(--sl-gutter);
}

.sl-c-playground__tabbar-title {
  // For nested caps in tab title, reset a few styles
  .caps {
    --sl-font-size--caps: var(--sl-font-size--medium);

    font-weight: normal;
    letter-spacing: 0;
  }

  // align the code editor titles to the right of the panel header area
  .sl-c-playground__code-editor-wrapper & {
    margin-left: auto;
    text-align: right;
  }
}

// Code panel container with links to Playground
.sl-c-code-panel {
  position: relative;

  &:hover {
    --sl-c-to-playground-opacity: 1;
  }
}

// Playground Link
.sl-c-to-playground {
  --sl-background--link: var(--sl-color--link-action);
  --sl-background--link-state: var(--sl-color--code-background-darker);

  border: 0;
  display: flex;
  font-size: var(--sl-font-size--small);
  gap: var(--sl-gutter--quarter);
  inset-inline-end: 0;
  inset-block-end: 0;
  opacity: var(--sl-c-to-playground-opacity, 0);
  padding: var(--sl-gutter--half);
  position: absolute;
  transition:
    opacity 0.2s,
    background 0.1s;

  &:focus {
    --sl-c-to-playground-opacity: 1;
  }

  img {
    height: 1.5rem;
  }
}

// ColorSwatch
.cm-color-swatch {
  display: inline-flex;
  position: relative;

  div {
    background-color: var(--color);
    block-size: var(--sl-size--swatch);
    inline-size: var(--sl-size--swatch);
    margin-inline-start: var(--sl-gutter--quarter);
    outline: var(--sl-border--small) solid var(--sl-color--text-medium-dark);
    outline-offset: calc(var(--sl-border--small) * -1);
  }

  span {
    font-family: var(--sl-font-family--emoji);
    inset: -60% 0 0 60%;
    line-height: 1.4;
    position: absolute;
    text-shadow: -1px 1px 1px var(--sl-color--text-medium-dark);
  }
}
