%header.banner(role="banner")
  .container
    %h1.site-brand= link_to (image_tag "logos/logo.svg", height: "48", alt: "Sass"), "/"

    %nav.navigation.collapse(role="navigation")
      :markdown
        * [Install](/install)
        * [Learn Sass](/guide)
        * [Blog](http://blog.sass-lang.com/)
        * [Documentation](/documentation/file.SASS_REFERENCE.html)
        * [Get Involved](/community)

    .banner-toggle
      %button(type="button" data-toggle="collapse" data-target=".navigation")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
