/[if lt IE 7]
  .alert
    .container
      %p
        You are using an
        %strong outdated
        browser. Please
        = link_to "upgrade your browser", "http://browsehappy.com/"
        to improve your experience.
