- unless data.page.hide_contentinfo
  %footer.contentinfo(role="contentinfo")
    %nav.container
      %ul
        %li.contentinfo-legal
          :markdown
            Sass &copy; 2006&ndash;2017
            [Hampton Catlin](http://www.hamptoncatlin.com/),
            [Natalie Weizenbaum](http://nex-3.com/),
            [Chris&nbsp;Eppstein](http://chriseppstein.github.io/),
            and&nbsp;numerous&nbsp;contributors.

            It is available for use and modification under the
            [MIT&nbsp;License](http://sass-lang.com/docs/yardoc/file.MIT-LICENSE.html).

        %li.contentinfo-tools
          %ul
            %li= link_to "Sass on GitHub",       "https://github.com/sass"
            %li= link_to "Website Repo",         "https://github.com/sass/sass-site"
            %li= link_to "Style Guide",          "/styleguide"
            %li= link_to "Community Guidelines", "/community-guidelines"

        %li.contentinfo-social
          %a.twitter-follow-button(href="https://twitter.com/SassCSS" data-show-count="false" data-size="large") Follow @SassCSS
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
