.page-header
  .sl-l-container
    %h1
      - if current_page.data.h1?
        = Typogruby.improve(current_page.data.h1)
      - else
        = Typogruby.improve(current_page.data.title)

    - if current_page.data.description?
      %p= Typogruby.improve(current_page.data.description)
