- if current_page.url =~ /styleguide/
  .toolkit
    .container
      %ul
        %li
          %button.toggle-baseline(type="button") Baseline
        %li
          %button.toggle-grid(type="button") Grid
        %li.separator
        %li
          %button.url-responsive(type="button") Responsive Test
