// ---------------------------------------------------- 
// Normalize/Reset
// ---------------------------------------------------- 

// ---------------------------------------------------- 
// Resets every element to use border-box, a much
// more friendly way to calculate margins, padding,
// borders, etc. for the box model
// ---------------------------------------------------- 
* {
    @include box-sizing("border-box");
}

// ---------------------------------------------------- 
// Root element fixes
// 1. Fixes text resize in IE6-7
// 2. Always shows the scroll bar
// 3. Fixes iOS text size adjustment after orientation change
// ----------------------------------------------------
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}

// ---------------------------------------------------- 
// HTML5 Fixes
// Corrects block display not defined in IE6/7/8/9 & FF3
// ---------------------------------------------------- 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

// ---------------------------------------------------- 
// Fixes inline-block on IE6-9, FF3
// ---------------------------------------------------- 
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

// ---------------------------------------------------- 
// Prevents from displaying 'audio' without controls
// ---------------------------------------------------- 
audio:not([controls]) {
    display: none;
}

// ---------------------------------------------------- 
// Helps hidden attr work in IE7-9, FF3
// ---------------------------------------------------- 
[hidden] {
    display: none;
}

// ---------------------------------------------------- 
// Links
// ----------------------------------------------------
a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

// ---------------------------------------------------- 
// Typography
// ----------------------------------------------------
abbr[title] {
    border-bottom: 1px dotted;
}

b, strong { 
    font-weight: bold; 
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// ---------------------------------------------------- 
// Lists
// ----------------------------------------------------
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

// ---------------------------------------------------- 
// Embedded content
// ----------------------------------------------------
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}

// ---------------------------------------------------- 
// Figures, fixes margin in IE6-9
// ----------------------------------------------------
figure {
    margin: 0;
}

// ---------------------------------------------------- 
// Forms
// ----------------------------------------------------
form {
    margin: 0;
}
 
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

// Removes inner padding that is displayed in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Removes inner padding and border in FF3+
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}


// ---------------------------------------------------- 
// Tables
// ----------------------------------------------------
table {
    border-collapse: collapse;
    border-spacing: 0;
}
