// ----------------------------------------------------
// utility classes
// ----------------------------------------------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.visible-phone{}
.visible-tablet{}
.visible-desktop{}

.hidden-phone{}
.hidden-tablet{}
.hidden-desktop{}

// clearfix
.clearfix {
  @include clearfix();
}

// image replacement
.hide-text {
  @include hide-text();
}