// ---------------------------------------------------- 
// Variables
// Used for grayboxing. To update the theme you should
// TODO: convert this to a function to generate
// with color functions
// ---------------------------------------------------- 
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// --------------------------------------------------
// globals
// --------------------------------------------------
$sub-baseline           : 6px;
$baseline               : $sub-baseline * 3; // 18px

// --------------------------------------------------
// grid
// to be used with Susy
// magically converts pixels to % for a fluid grid
// --------------------------------------------------
$total-columns  : 16;
$column-width   : 3em;
$gutter-width   : 1em;
$grid-padding   : 2em;
$show-grid-backgrounds  : true;

// --------------------------------------------------
// colors
// --------------------------------------------------
$color-body-background:   #fff !default;
$color-text:              #333 !default;

$color-link:              #08c !default;
$color-link-hover:        darken($color-link, 15%) !default;


// --------------------------------------------------
// typography
// --------------------------------------------------
$font-family-sans:      Helvetica, Arial, sans-serif !default;
$font-family-serif:     Georgia, "Times New Roman", Times, serif !default;
$font-family-mono:      Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:        14px !default;
$line-height-base:      $baseline !default;

$font-family-headers:   $font-family-serif !default;

// --------------------------------------------------
// z-index
// --------------------------------------------------
$z-index-dropdown:          1000 !default;
$z-index-popover:           1010 !default;
$z-index-tooltip:           1020 !default;
$z-index-fixed:             1030 !default;
$z-index-modal-background:  1040 !default;
$z-index-modal:             1050 !default;