version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'yarn'
    directory: '/'
    schedule:
      interval: 'weekly'
