/*! Sass
 *  by Team Sass Design (@teamsassdesign)
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);



@import "compass";
@import "breakpoint";



@import "dependencies/layout";
@import "dependencies/typography";
@import "dependencies/color";



@import "foundation/site";



html {
  text-align: left;
  background: $color-background;
}

body {
  padding: 2em;
  font: {
    size: inherit;
    family: 'Source Sans Pro', sans-serif;
  }
}

.maruku_toc { display: none; }
