= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
:javascript
  window.jQuery || document.write('<script src="/assets/javascripts/vendor/jquery-2.0.3.js"><\/script>')

= javascript_include_tag  "vendor/jquery-ui-1.10.4.custom", "sass"

= yield_content :scripts_footer
