**/*.DS_Store
**/*.cover
**/*.crt
**/*.css.map
**/*.dump
**/*.js.map
**/*.key
**/*.log
**/*.manifest
**/*.md
**/*.mo
**/*.orig
**/*.pot
**/*.rst
**/*.spec
**/*.sql
**/*.swo
**/*.swp
**/*~
**/Dockerfile
.cache
.coverage
.coverage.*
.devcontainer/
.dockerignore
.git
.github/
.hypothesis/
.idea/
.installed.cfg
.livereload
.nvmrc
.nyc_output/
.ropeproject
.vscode/
.yarnrc
ENV/
build/
celerybeat-schedule
coverage.xml
coverage/
derrick
dist/
docker-compose.yml
docs/_build/
downloads/
dump.rdb
env.example
env/
heroku.yml
htmlcov/
lib64/
node_modules/
nosetests.xml
npm-debug.log
parts/
pip-delete-this-directory.txt
pip-log.txt
postgres/
sdist/
staticfiles/
var/
venv/
wheels/
yarn-error.log

!STYLEGUIDE.rst
