!.*
.git/
.vscode/
.yarn/
.yarnrc
.yarnrc.yml
/.language/
/_site/
/tool/typedoc-theme.js
/source/_data/versionCache.json
/source/assets/dist/
/source/assets/js/playground/module-metadata.ts
/source/assets/js/vendor/**
/source/assets/sass/vendor/
/source/blog/*.md
/source/documentation/js-api
coverage/
node_modules/
package-lock.json

!/source/assets/js/vendor/index.js
