._*
/build
/.bundle
bundle
/.cache
/data/version.yml
.DS_Store
.DS_Store?
/Icon
"Icon\r"
.ruby-version
/.dart-sass
/.libsass
/.ruby-sass
/.sass-cache
*.scssc
Thumbs.db
.Trashes
/.yardoc
/vendor/bundle/
