._*
/build
/.bundle
bundle
/.cache
/data/version.yml
.DS_Store
.DS_Store?
/Icon
"Icon\r"
.ruby-version
/.dart-sass
/.libsass
/.language
/.sass-cache
*.scssc
Thumbs.db
.Trashes
/.yardoc
/vendor/bundle/
/source/documentation/js-api

# NPM/Yarn
node_modules/
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
