!.*
.git/
.vscode/
/**/*.md
/.language/
/_site/
/source/_data/versionCache.json
/source/assets/dist/
/source/assets/js/playground/module-metadata.ts
/source/assets/js/vendor/**
/source/assets/sass/vendor/
/source/documentation/js-api
coverage/
node_modules/
package-lock.json

!/source/assets/js/vendor/index.ts
