!.*
.git/
.vscode/
.yarn/
.yarnrc
.yarnrc.yml
/_site/
/data/
/old_source/
/source/_data/versionCache.json
/source/blog/*.md
coverage/
node_modules/
source/assets/dist/
source/assets/js/vendor/**
!source/assets/js/vendor/index.js
source/assets/sass/vendor/
