---
title: Typography
---

%h2 Families

- for font_family in data.typography.families
  %dl.guide-description-list
    %dt{class: "sl-font-family--" + font_family.style}= font_family.value

    %dd
      %code= "$sl-font-family--" + font_family.style
