// ===========================================================================
// SASS STYLES
// by Team Sass Design (@teamsassdesign)



@charset "utf-8";


// ---------------------------------------------------------------------------
// VENDOR

@import "compass";
@import "susy";



// ---------------------------------------------------------------------------
// DEPENDENCIES

@import "dependencies/typography";
@import "dependencies/layout";
@import "dependencies/colors";
@import "dependencies/themes";



// ---------------------------------------------------------------------------
// FOUNDATION

// http://paulirish.com/2012/box-sizing-border-box-ftw/
@include border-box-sizing;

@import "vendor/normalize";

@import "foundation/site";
@import "foundation/headings";
@import "foundation/text";
@import "foundation/lists";
@import "foundation/links";
@import "foundation/media";
@import "foundation/code";
@import "foundation/forms";



// ---------------------------------------------------------------------------
// COMPONENTS

@import "components/messages";
@import "components/icons";
@import "components/buttons";
@import "components/illustrations";
@import "components/lists";
@import "components/quick-starts";
@import "components/current-release";
@import "components/slides";
@import "components/pagination";



// ---------------------------------------------------------------------------
// REGIONS

@import "regions/container";
@import "regions/chromeframe";
@import "regions/banner";
@import "regions/navigation";
@import "regions/content";
@import "regions/contentinfo";



// ---------------------------------------------------------------------------
// PAGES



// ---------------------------------------------------------------------------
// HELPERS

@import "helpers/placeholder-selectors";
@import "helpers/classes";



// ---------------------------------------------------------------------------
// RESPONSIVE

@import "responsive/iPhone";
@import "responsive/small-tablet";
@import "responsive/iPad";
@import "responsive/screen";
@import "responsive/high-resolution";
@import "responsive/print";//