// ===========================================================================
// SASS STYLES
// by Team Sass Design (@teamsassdesign)



// ---------------------------------------------------------------------------
// VENDOR

@import "compass";
@import "susy";



// ---------------------------------------------------------------------------
// RESET

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { @include box-sizing(border-box); }

@import "vendor/normalize";



// ---------------------------------------------------------------------------
// DEPENDENCIES

@import "dependencies/measurements";
@import "dependencies/typography";
@import "dependencies/color";
@import "dependencies/themes";



// ---------------------------------------------------------------------------
// FOUNDATION

@import "foundation/site";
@import "foundation/links";
@import "foundation/headings";
@import "foundation/text";
@import "foundation/lists";
@import "foundation/media";
@import "foundation/forms";



// ---------------------------------------------------------------------------
// REGIONS

@import "regions/banner";
@import "regions/navigation";
@import "regions/contentinfo";



// ---------------------------------------------------------------------------
// COMPONENTS

@import "components/messages";
@import "components/release-information";
@import "components/sticky_footer";



// ---------------------------------------------------------------------------
// LAYOUT

@import "layout/grid";

@media only screen and (min-width: 35em) {
  @import "layout/ios";
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  @import "layout/retina";
}

@import "layout/helpers";
@import "layout/print";