// ===========================================================================
// GRID



// Initial set up is just one column for small phones

$total-columns: 1;
$column-width:  2.75em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;



.container {
  margin: 0 1em;
}