// ===========================================================================
// PRINT
// Useful classes and placeholder selectors for @extend'ing.



@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    text-shadow: none !important;
  }

  @page { margin: 0.5cm; }

  a {
    &,
    &:visited { text-decoration: underline; }

    &[href]:after { content: " (" attr(href) ")"; }

    .ir &,
    &[href^="javascript:"],
    &[href^="#"] {
      &:after { content: ""; }
    }
  }

  abbr[title]:after { content: " (" attr(title) ")"; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead { display: table-header-group; }

  tr,
  img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 { page-break-after: avoid; }
}