= wrap_layout :layout do
  .sl-l-holy-grail
    .sl-l-holy-grail__body
      %nav.sl-l-holy-grail__navigation(role='navigation')
        = yield_content :navigation

      .sl-l-holy-grail__main
        - container = current_page.data.no_container ? '' : 'sl-l-container sl-l-container--small'
        %div{class: container}
          - if current_page.data.introduction
            - center_introduction = current_page.data.center_introduction ? 'sl-c-introduction--center' : ''
            .sl-c-introduction{class: center_introduction}
              = markdown_wrap current_page.data.introduction

          =yield

      %aside.sl-l-holy-grail__complementary(role='complementary')
        = yield_content :complementary
