= wrap_layout :layout do
  - container = current_page.data.no_container ? '' : 'sl-l-container sl-l-container--small'
  .docSearch-content{class: container}
    = yield_content :before_introduction
    - if current_page.data.introduction
      - center_introduction = current_page.data.center_introduction ? 'sl-c-introduction--center' : ''
      .sl-c-introduction{class: center_introduction}
        = markdown_wrap current_page.data.introduction

    = Typogruby.improve(yield)
