= wrap_layout :layout do
  .sl-l-holy-grail
    .sl-l-holy-grail__body
      .sl-l-holy-grail__main
        - if current_page.data.introduction
          .sl-c-introduction= markdown_wrap current_page.data.introduction

        =yield

      %aside.sl-l-holy-grail__complementary(role='complementary')
        = yield_content :complementary
