= wrap_layout :layout do
  .sl-l-medium-holy-grail
    .sl-l-medium-holy-grail__body
      %nav.sl-l-medium-holy-grail__navigation(role='navigation')
        = yield_content :navigation

      .sl-l-medium-holy-grail__main
        .sl-l-large-holy-grail
          .sl-l-large-holy-grail__body
            - if content_for?(:complememtary)
              - has_contents = current_page.data.table_of_contents ? 'sl-l-large-holy-grail__complementary--contents' : ''
              %aside.sl-l-large-holy-grail__complementary(role='complementary'){class: has_contents}
                = yield_content :complementary

            .sl-l-large-holy-grail__main
              - container = current_page.data.no_container ? '' : 'sl-l-container sl-l-container--small'
              %div{class: container}
                - if current_page.data.introduction
                  - center_introduction = current_page.data.center_introduction ? 'sl-c-introduction--center' : ''
                  .sl-c-introduction{class: center_introduction}
                    = markdown_wrap current_page.data.introduction

                =yield
