- wrap_layout :layout do
  .container
    .content
      - if content_for?(:introduction)
        %p.introduction= yield_content :introduction

      %main.main.content-primary(role="main")=yield

      - if content_for?(:complementary)
        .complementary(role="complementary")= yield_content :complementary
