= wrap_layout :has_no_sidebars do
  =yield

  - content_for :alert do
    %form.responsive-test-url(role="form" method="post")
      %fieldset
        %p
          %label.visually-hidden(for="test-url") Test URL
          %input#test-url(type="text" placeholder="Enter a site URL")/

        %p
          %label.radio(for="normal")
            %input#normal(type="radio" name="option" value="1" checked="checked")/
            Width only

          %label.radio(for="accurate")
            %input#accurate(type="radio" name="option" value="2")/
            Device sizes

          %label.checkbox(for="scrollbar")
            %input#scrollbar(type="checkbox" name="scrollbar" value="1" checked="checked")/
            Add Scrollbar Width

      %p.visually-hidden
        %button.primary(type="submit") Submit

  - content_for :js_foot do
    = javascript_include_tag "tools/styleguide/responsive/test"
