= wrap_layout :has_both_sidebars do
  =yield

  - content_for :navigation do
    = partial "layouts/components/reference_table_of_contents"

  - if current_page.data.table_of_contents
    - content_for :complementary do
      %h3 Page Sections

      %nav.sl-c-list-navigation-wrapper
        = current_page.metadata[:table_of_contents]
