= wrap_layout :has_navigation do
  = yield

  - content_for :navigation do
    %nav.sl-c-list-navigation-wrapper
      :markdown
        ### [Style Guide](/styleguide)

        - [Brand](/styleguide/brand)
        - [Color](/styleguide/color)
        - [Typography](/styleguide/typography)
        - [Layout](/styleguide/layout)
        - [Components](/styleguide/components)
        - [Code](/styleguide/code)
