%nav.table-of-contents
  :markdown
    * [Reference](/documentation) 
      * [Syntax](/documentation/syntax)
        * [Parsing a Stylesheet](/documentation/syntax/parsing)
        * [Structure of a Stylesheet](/documentation/syntax/structure)
        * [Comments](/documentation/syntax/comments)
