= javascript_include_tag  "vendor/modernizr.custom.36606"

/[if lt IE 9]
  = javascript_include_tag  "vendor/respond.src"

= javascript_include_tag  "//use.typekit.net/twy2ydm.js"
:javascript
  try{Typekit.load();}catch(e){}

= yield_content :scripts_header
