%header.banner(role="banner")
  .container
    %ul.accessibility
      %li.skip-navigation
        = link_to "#navigation", :class => 'button' do
          %span(aria-hidden="true" data-icon="l")
          %span.visuallyhidden Skip to Navigation
      %li.skip-content= link_to "Skip to Content", "#content", :class => 'button'

    %h1= link_to image_tag("logo.png", :width => "80", :height => "60", :alt => "Sass"), "/"

%nav.navigation(role="navigation")
  .container
    :markdown
      * [Get Sass](/get-started/install)
      * [Tutorial](/guide)
      * [Documentation](/documentation)
      * [Community](/community)