/[if lt IE 7]
  %p.message.chrome-frame
    You are using an outdated browser.
    = link_to "Upgrade your browser today", "http://browsehappy.com/"
    or
    = link_to "install Google Chrome Frame", "http://google.com/chromeframe/?redirect=true"
    to better experience this site.

  %hr/