/[if lt IE 7]
  .chromeframe
    .container
      :markdown
        You are using an <strong>outdated</strong> browser. Please [upgrade your browser](http://browsehappy.com/) or [activate Google Chrome Frame](http://google.com/chromeframe/?redirect=true) to improve your&nbsp;experience.