/[if lt IE 7]
  .chromeframe
    .container
      %p
        You are using an
        %strong outdated
        browser.
        Please
        = link_to "upgrade your browser", "http://browsehappy.com/"
        or
        = link_to "activate Google Chrome Frame", "http://google.com/chromeframe/?redirect=true"
        to improve your&nbsp;experience.