%footer.contentinfo(role="contentinfo")
  .container
    %nav
      %ul.legal-navigation
        %li Copyright &#169; 2006&#8211;2012 Sass
        %li= link_to "MIT License", "#"

      %ul.social-navigation
        %li= link_to "Twitter",       "#"
        %li= link_to "Mailing List",  "#"
        %li= link_to "Github",        "#"