$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: white;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;
