$sl-color--hopbush: #c69;
$sl-color--bouquet: #b37399;
$sl-color--venus: #998099;
$sl-color--patina: #699;
$sl-color--nebula: #d2e1dd;
$sl-color--white: white;
$sl-color--dawn-pink: #f2ece4;
$sl-color--wafer: #e1d7d2;
$sl-color--iron: #dadbdf;
$sl-color--regent-grey: #808c99;
$sl-color--pale-sky: #6b717f;
$sl-color--midnight-blue: #036;
