@use 'sass:color';
@use 'brand';

$sl-color--highlight: color.adjust(brand.$sl-color--hopbush, $lightness: -10%);
$sl-color--action: color.adjust(brand.$sl-color--bouquet, $lightness: -10%);
$sl-color--shadow: rgba(brand.$sl-color--midnight-blue, 0.125);
$sl-color--active: color.adjust(brand.$sl-color--venus, $lightness: -10%);
$sl-color--code-background: #f8f8f8;
$sl-color--code-text: color.adjust(brand.$sl-color--pale-sky, $lightness: -25%);
$sl-color--link-action: rgba(218, 219, 223, 25%);
$sl-color--code-warm: #cf1666;
$sl-color--code-bright-dark: #990000;
$sl-color--code-bright: #df1144;
$sl-color--code-muted-dark: #393A34;
$sl-color--code-muted: #656556;
$sl-color--code-base: #006666;
$sl-color--code-cool: #445588;
$sl-color--code-dark: #000000;
