@use 'sass:color';
@use 'brand';

$highlight: color.adjust(brand.$sl-color--hopbush, $lightness: -10%);
$action: color.adjust(brand.$sl-color--bouquet, $lightness: -10%);
$shadow: rgba(brand.$sl-color--midnight-blue, 0.125);
$active: color.adjust(brand.$sl-color--venus, $lightness: -10%);
$color-code-bg: #f8f8f8;
$color-code-text: color.adjust(brand.$sl-color--pale-sky, $lightness: -25%);
