@use 'sass:color';
@use 'brand';

$sl-color--highlight: color.adjust(brand.$sl-color--hopbush, $lightness: -10%);
$sl-color--action: color.adjust(brand.$sl-color--bouquet, $lightness: -10%);
$sl-color--shadow: rgba(brand.$sl-color--midnight-blue, 0.125);
$sl-color--active: color.adjust(brand.$sl-color--venus, $lightness: -10%);
$sl-color--code-background: #f8f8f8;
$sl-color--code-background-darker: #ebebeb;
$sl-color--code-text: color.adjust(brand.$sl-color--pale-sky, $lightness: -25%);
$sl-color--link-action: rgba(218, 219, 223, 25%);
$sl-color--code-warm: #cf1666;
$sl-color--code-bright-dark: #900;
$sl-color--code-bright: #df1144;
$sl-color--code-muted-dark: #393a34;
$sl-color--code-muted: #656556;
$sl-color--code-base: #066;
$sl-color--code-cool: #458;
$sl-color--code-dark: black;
$sl-color--warning-light: color.adjust(
  brand.$sl-color--hopbush,
  $lightness: 27%
);
$sl-color--warning-lighter: color.adjust(
  brand.$sl-color--hopbush,
  $lightness: 38%
);
$sl-color--warning-highlight: rgba($sl-color--warning-light, 0.2);
$sl-color--info-light: color.adjust(brand.$sl-color--patina, $lightness: 32%);
$sl-color--info-lighter: color.adjust(brand.$sl-color--patina, $lightness: 47%);
$sl-color--error: #cf0254;
$sl-color--warn: #c14e00;
$sl-color--success: #168073;

// Darker Shades of existing colors for use on a light gray background
$sl-color--text-medium-dark: color.adjust(
  brand.$sl-color--pale-sky,
  $lightness: -5%
);
$sl-color--action-dark: color.adjust(
  brand.$sl-color--bouquet,
  $lightness: -11.647%
);
