@use 'sass:color';
@use 'brand';

$highlight: color.adjust(brand.$sl-color--hopbush, $lightness: -10%);
$action: color.adjust(brand.$sl-color--bouquet, $lightness: -10%);
$shadow: rgba(brand.$sl-color--midnight-blue, 0.125);
