.sl-c-introduction {
  color: $sl-color--patina;
  font-weight: $sl-font-weight--light;

  @include sl-breakpoint--medium { font-size: $sl-font-size--xx-large; }

  &--center { text-align: center; }
}
