---
layout: base
---

<div class="sl-l-large-holy-grail">
  <div class="sl-l-large-holy-grail__body">
    <div class="sl-l-large-holy-grail__main">
      <div class="sl-l-container sl-l-container--small">
        {% if before_introduction_include %}
          {% include before_introduction_include %}
        {% endif %}
        <div class="sl-c-introduction">
          {{ introduction }}
        </div>

        {{ content | typogr }}
      </div>
    </div>

    {% if complementary_content %}
      <div class="sl-l-large-holy-grail__complementary">
        {% if complementary_content_nav %}
          <nav aria-label={{ complementary_content_aria_label }} class="sl-c-list-navigation-wrapper">
          {% endif %}
          {% markdown %}
            {{ complementary_content }}
          {% endmarkdown %}
          {% if complementary_content_nav %}
          </nav>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
