---
layout: base
---

<div class="docSearch-content{% unless no_container %} sl-l-container sl-l-container--small{% endunless %}">
  {% if introduction %}
    <div class="sl-c-introduction{% if center_introduction %} sl-c-introduction--center{% endif %}">
      {{ introduction }}
    </div>
  {% endif %}

  {{ content | typogr }}
</div>
