.sl-l-container {
  margin: {
    right: auto;
    left: auto;
  };
  padding: {
    right: sl-px-to-rem(16px);
    left: sl-px-to-rem(16px);
  };
  max-width: sl-px-to-rem(1920px);

  @include sl-breakpoint--small {
    padding: {
      right: sl-px-to-rem(32px);
      left:  sl-px-to-rem(32px);
    };
  }

  &--small {
    max-width: sl-px-to-rem(960px);
  }
}
