.complementary {
  @include padding-trailer(2);

  h2,
  h3 {
    &:first-child { padding-top: 0; }
  }

  h2:first-child { margin-top: -0.5em; }

  ul { @extend %reset-list; }

  li {
    @include padding-leader(.25);
    @include padding-trailer(.25);
    @include adjust-leading-to(1)
  }

  @include breakpoint($tablet-large) {
    @include padding-leader(3);
    @include padding-trailer(2);
  }
}
