.complementary {
  @include padding-trailer(2);

  h2,
  h3 {
    &:first-child { padding-top: 0; }
  }

  h2:first-child { margin-top: -0.5em; }

  ul {
    @extend %reset-list;

    ul { margin-left: 1rem; }
  }

  li {
    @include padding-leader(.0625);
    @include padding-trailer(.0625);
    @include adjust-leading-to(1)
  }

  @include breakpoint($tablet-large) {
    @include padding-leader(3);
    @include padding-trailer(2);

    p { text-align: left; }
  }
}
