.navigation {
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  ul { @include padding-leader; }

  li {
    @include trailer(.5);

    &:last-child { margin-bottom: 0; }
  }

  a {
    @include padding-leader(.5);
    @include padding-trailer(.5);
    display: block;
    padding: {
      right: $gutter-width;
       left: $gutter-width;
    }
    background: mix($color-background, $color-background-shade);

    &:hover,
    &:focus { background: $color-background-shade; }
  }

  @include breakpoint($tablet-small) {
    ul { @extend %clear-fix-tablet-small; }

    li {
      @include span(6);

      &:nth-child(odd) { @include omega; }
    }
  }

  @include breakpoint($tablet-large) {
    @include span(9 omega);
    @include font-size-small;
    background: none;

    &.collapse { display: block !important; }

    ul {
      text-align: right;
      white-space: nowrap;
    }

    li {
      float: none;
      display: inline-block;
      margin: {
        right: 0;
        bottom: 0;
      }
      width: auto;

      &:nth-child(odd) {
        float: none;
        margin-right: 0;
      }

      &:last-child { margin-right: 0; }
    }

    a {
      &,
      &:hover,
      &:focus { background: none; }
    }
  }

  @include breakpoint($screen-small) {
    @include font-size-regular;

    li { margin-left: $gutter-width; }
  }
}
