// ===========================================================================
// COLOR



// ---------------------------------------------------------------------------
// REFERENCE FOR CLARIFICATION ONLY. USE SEMANTIC NAMES BELOW

$black:           #000                   !default;
$grey-darkest:    lighten($black, 12.5%) !default;
$grey-darker:     lighten($black, 25%)   !default;
$grey-dark:       lighten($black, 37.5%) !default;
$grey:            lighten($black, 50%)   !default;
$grey-light:      lighten($black, 62.5%) !default;
$grey-lighter:    lighten($black, 75%)   !default;
$grey-lightest:   lighten($black, 87.5%) !default;
$white:           lighten($black, 100%)  !default;

$hopbush:         #c69                   !default;
$bouquet:         #b37399                !default;
$venus:           #998099                !default;
$pale-sky:        #6b717f                !default;
$midnight-blue:   #036                   !default;
$regent-grey:     #808c99                !default;
$iron:            #dadbdf                !default;
$wafer:           #e1d7d2                !default;
$dawn-pink:       #f2ece4                !default;
$nebula:          #d2e1dd                !default;
$patina:          #699                   !default;



// ---------------------------------------------------------------------------
// GENERAL SEMANTIC COLOR NAMES

$shadow-color:               rgba($black, .25)      !default;
$highlight-color:            rgba($white, .75)      !default;

$background-color:           $white                 !default;
$background-alt-color:       lighten($iron, 10%)    !default;

$text-color:                 darken($pale-sky, 10%) !default;
$strong-text-color:          $grey-darkest          !default;

$border-color:               $grey-lighter          !default;

$selection-background-color: $hopbush               !default;
$selection-text-color:       $white                 !default;

$callout-background-color:   $nebula                !default;