// ===========================================================================
// MEASUREMENTS



$base-unit:           4;

$font-size:           16;
$font-size-small:     $font-size * .75;
$font-size-large:     $font-size * 1.5;
$font-size-larger:    $font-size * 2;
$font-size-largest:   $font-size * 3;

$line-height:         1.5;
$line-height-alt:     1.25;
$line-height-heading: 1;

$baseline:        #{$font-size * $line-height}px;



$total-columns: 9;
$column-width:  2.75em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;



$break-iPhone:      5;
$break-iPhone-wide: 8;
$break-iPad:        13;



$z-index-dropdown:         1000 !default;
$z-index-popover:          1010 !default;
$z-index-tooltip:          1020 !default;
$z-index-fixed:            1030 !default;
$z-index-modal-background: 1040 !default;
$z-index-modal:            1050 !default;



@mixin font-size($size-setting: $font-size, $lead-setting: $line-height) {
  font: {
    size: #{$size-setting}px;
    size: #{$size-setting / 10}rem;
  }
  line-height: $lead-setting;
}



%block-text {
  margin: 0;
  padding: .5em 0;
}

%heading-text {
  margin: 0;
  padding: .75em 0 .25em;
}