// ===========================================================================
// THEMES



// ---------------------------------------------------------------------------
// EASY LINK COLORS

$hover: "&:hover, &:focus";

@mixin link($link-setting: $link-color, $hover-setting: $link-hover-color, $active-setting: $link-active-color) {
  &,
  &:visited { color: $link-setting; }

  #{$hover} { color: $hover-setting;  }

  &:active  { color: $active-setting; }
}



// ---------------------------------------------------------------------------
// TEXT SHADOWS

@mixin text-shadow($color-setting: $shadow-color) { text-shadow: 0 -1px 1px $color-setting; }



// ---------------------------------------------------------------------------
// ALL CAPS

@mixin caps {
  @extend %source-sans-pro-bold;
  @include font-size($font-size, $line-height-alt);
  letter-spacing: .05em;
  text-transform: uppercase;
}



// ---------------------------------------------------------------------------
// TAPPABLE LINKS

@mixin tappable-link {
  display: inline-block;
  padding: .875em 2em;
  text-align: center;
  @include caps;
}