// ===========================================================================
// TYPOGRAPHY



// ---------------------------------------------------------------------------
// FONT STACKS

$monospace:  Menlo, Monaco, Consolas, "Courier New", monospace !default;
$sans-serif: Helvetica, Arial, sans-serif                      !default;
$serif:      Georgia, "Times New Roman", Times, serif          !default;



$source-sans-pro-regular: "source-sans-pro-n4", "source-sans-pro", $sans-serif !default;
$source-sans-pro-bold:    "source-sans-pro-n7", "source-sans-pro", $sans-serif !default;
                          
$chaparral-pro-regular:   "chaparral-pro-n4", "chaparral-pro", $serif          !default;
$chaparral-pro-bold:      "chaparral-pro-n7", "chaparral-pro", $serif          !default;



// ---------------------------------------------------------------------------
// FONT SETUP

@mixin font-face($family-setting: $source-sans-pro-regular, $weight-setting: 400, $style-setting: normal) {
  font: {
    style:  $style-setting;
    weight: $weight-setting;
    family: $family-setting;
  }
}



// ---------------------------------------------------------------------------
// FONT PLACEHOLDER SELECTORS FOR @EXTEND'ING

%source-sans-pro-regular { @include font-face($source-sans-pro-regular);   }
%source-sans-pro-bold    { @include font-face($source-sans-pro-bold, 700); }
                                                                           
%chaparral-pro-regular   { @include font-face($chaparral-pro-regular);     }
%chaparral-pro-bold      { @include font-face($chaparral-pro-bold, 700);   }