// ===========================================================================
// TYPOGRAPHY



// ---------------------------------------------------------------------------
// FONT STACKS

$monospace:  Menlo, Monaco, Consolas, "Courier New", monospace !default;
$sans-serif: Helvetica, Arial, sans-serif                      !default;
$serif:      Georgia, "Times New Roman", Times, serif          !default;



$source-code-pro-regular: "source-code-pro-n4", "source-code-pro", $monospace  !default;

$source-sans-pro-regular: "source-sans-pro-n4", "source-sans-pro", $sans-serif !default;
$source-sans-pro-bold:    "source-sans-pro-n7", "source-sans-pro", $sans-serif !default;

$chaparral-pro-regular:   "chaparral-pro-n4", "chaparral-pro", $serif          !default;
$chaparral-pro-semibold:  "chaparral-pro-n6", "chaparral-pro", $serif          !default;



// ---------------------------------------------------------------------------
// FONT SETUP

@mixin font-face($family-setting: $source-sans-pro-regular, $weight-setting: 400, $style-setting: normal) {
  font: {
    style:  $style-setting;
    weight: $weight-setting;
    family: $family-setting;
  }
}



// ---------------------------------------------------------------------------
// FONT PLACEHOLDER SELECTORS FOR @EXTEND'ING

%source-code-pro-regular { @include font-face($source-code-pro-regular);     }

%source-sans-pro-regular { @include font-face($source-sans-pro-regular);     }
%source-sans-pro-bold    { @include font-face($source-sans-pro-bold, 600);   }

%chaparral-pro-regular   { @include font-face($chaparral-pro-regular);       }
%chaparral-pro-semibold  { @include font-face($chaparral-pro-semibold, 600); }