---
title: Breaking Changes
introduction: >
  New versions of Sass are as backwards-compatible as possible, but sometimes
  a breaking change is necessary. Sass needs to keep up with the evolving CSS
  specification, and old language design mistakes occasionally need to be fixed.
overview: true
---

Before each breaking change is released, Sass implementations will produce
deprecation warnings for stylesheets whose behavior will change. Whenever
possible, these warnings will include suggestions for how to update the
deprecated styles to make them forward-compatible.

Different implementations have different policies for breaking changes and
deprecations. [Dart Sass][] will emit deprecation warnings for at least three
months before releasing a breaking change, and will release the breaking change
with a new major version number **unless that change is necessary for CSS
compatibility**. CSS compatibility changes are often both non-disruptive and
time-sensitive, so they may be released with new minor version numbers instead.

[Dart Sass]: /dart-sass

These breaking changes are coming soon or have recently been released:

* [Functions are stricter about which units they
  allow](breaking-changes/function-units) beginning in Dart Sass 1.32.0.

* [Selectors with invalid combinators are
  invalid](breaking-changes/bogus-combinators) beginning in Dart Sass 1.54.0.

* [`/` is changing from a division operation to a list
  separator](breaking-changes/slash-div) beginning in Dart Sass 1.33.0.

* [Parsing the special syntax of `@-moz-document` will be
  invalid](breaking-changes/moz-document) beginning in Dart Sass 1.7.2.

* [Compound selectors could not be extended](breaking-changes/extend-compound)
  in Dart Sass 1.0.0 and Ruby Sass 4.0.0.

* [The syntax for CSS custom property values changed](breaking-changes/css-vars)
  in Dart Sass 1.0.0, LibSass 3.5.0, and Ruby Sass 3.5.0.

## Early Opt-In

<% impl_status dart: '1.59.0', libsass: false, ruby: false %>

Users who wish to treat certain deprecation warnings as errors immediately can
do so with the `--fatal-deprecation` command line option. For example,
`--fatal-deprecation=slash-div` will treat all deprecation warnings for
`/`-as-division as errors.

<table style="width:100%">
<thead>
  <tr style="text-align: left">
    <th>ID</th>
    <th>Version</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><code>call-string</code></td>
    <td>0.0.0</td>
    <td>Passing a string directly to <code>meta.call()</code>.</td>
  </tr>
  <tr>
    <td><code>elseif</code></td>
    <td>1.3.2</td>
    <td>Using <code>@elseif</code> instead of <code>@else if</code>.</td>
  </tr>
  <tr>
    <td><a href="breaking-changes/moz-document"><code>moz-document</code></a></td>
    <td>1.7.2</td>
    <td>Using <code>@-moz-document</code> (except for the empty url prefix hack).</td>
  </tr>
  <tr>
    <td><code>new-global</code></td>
    <td>1.17.2</td>
    <td>Declaring new variables with <code>!global</code>.</td>
  </tr>
  <tr>
    <td><code>color-module-compat</code></td>
    <td>1.23.0</td>
    <td>Using color module functions in place of plain CSS functions.</td>
  </tr>
  <tr>
    <td><a href="breaking-changes/slash-div"><code>slash-div</code></a></td>
    <td>1.33.0</td>
    <td>Using the <code>/</code> operator for division.</td>
  </tr>
  <tr>
    <td><a href="breaking-changes/bogus-combinators"><code>bogus-combinators</code></a></td>
    <td>1.54.0</td>
    <td>Leading, trailing, and repeated combinators.</td>
  </tr>
  <tr>
    <td><a href="breaking-changes/strict-unary"><code>strict-unary</code></a></td>
    <td>1.55.0</td>
    <td>Ambiguous <code>+</code> and <code>-</code> operators.</td>
  </tr>
  <tr>
    <td><a href="breaking-changes/function-units"><code>function-units</code></a></td>
    <td>1.56.0</td>
    <td>Passing invalid units to built-in functions.</td>
  </tr>
</tbody>
</table>

Alternatively, you can pass a Dart Sass version to `--fatal-deprecation` to
treat all deprecations that were present in that version as errors. For
example, `--fatal-deprecation=1.33.0` would treat all deprecations in the
table above up to and including `slash-div` as errors, but leave any newer
deprecations as warnings.
