// ===========================================================================
// BANNER



$banner-background-color: $background-alt-color !default;



.banner {
  background: $banner-background-color;

  h1 a {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.skip-navigation { display: none; }



// ---------------------------------------------------------------------------
// iPhone

@mixin banner-iPhone {
  .banner {
    text-align: left;

    h1 { @include span-columns(2); }
  }

  .skip-navigation {
    @include span-columns(1 omega);
    padding: {
         top: 1.375em;
      bottom: 1.375em;
    }

    .button {
      @include float-right;
      padding: 0;
      width: auto;
    }
  }
}