.banner {
  @include padding-leader;
  @include padding-trailer;

  * { vertical-align: middle; }

  .container { position: relative; }

  @include at-breakpoint($tablet-large) {
    .container { @extend %table-layout-tablet-large; }
  }
}

.site-brand {
  @include font-size-regular;
  margin: 0;
  line-height: 0;

  img {
    @include transition-property(height);
    height: rhythm(2);
  }

  @include at-breakpoint($tablet-large) {
    display: table-cell;
    text-align: left;
    vertical-align: middle;

    img { height: rhythm(4); }
  }
}

.banner-toggle {
  position: absolute;
  top:   0;
  right: $gutter-width;

  button {
    @extend %clear-button;
    padding: 0;
  }

  .icon-bar {
    @include leader(.25);
    @include trailer(.25);
    display: block;
    margin: {
      right: auto;
       left: auto;
    }
    width: 2em;
    height: 0.125em;
    background-color: $color-border;
  }

  @include at-breakpoint($tablet-large) { display: none; }
}
