.complementary {
  @include padding-trailer(2);

  h2,
  h3 {
    &:first-child { padding-top: 0; }
  }

  h2:first-child { margin-top: -0.5em; }

  ul { @extend %reset-list; }

  li {
    @include padding-leader(.25);
    @include padding-trailer(.25);
    @include adjust-leading-to(1)
  }

  @include at-breakpoint($tablet-large) {
    .do-columns & {
      @include padding-leader(3);
      @include padding-trailer(2);
      @include span-columns(4 omega);
    }
  }

  @include at-breakpoint($screen-small) {
    .do-columns & { padding-left: $gutter-width * 4; }
  }
}
