// ===========================================================================
// GRID



.container {
  padding-right: $gutter-width * 2;
  padding-left:  $gutter-width * 2;
  @include susy-grid-background;
}



// ---------------------------------------------------------------------------
// iPhone

@mixin container-iPhone {
  .container {
    @extend %clearfix-iPhone;
  }
}



// ---------------------------------------------------------------------------
// iPad

@mixin container-iPad {
  .container {
    @include container;
    @include susy-grid-background;
  }
}



// ---------------------------------------------------------------------------
// SCREEN

@mixin container-screen {
  .container {
    @include set-container-width;
    @include susy-grid-background;
  }
}