// ===========================================================================
// CONTENTINFO



.contentinfo {
  border-top: .5em solid $contentinfo-border-color;
  padding: .5em 0 1em;
  @include caps;
  background: $contentinfo-background-color;
  
  p { padding-bottom: 0; }
  
  ul { padding-top: 0; }
  
  span,
  a { @include font-size($font-size-small, $line-height-alt); }

  @include at-breakpoint($break-iPhone) {
    ul {
      @extend %clearfix-iPhone;
      list-style: none;
    }

    li {
      @include span-columns(2.5, $break-iPhone); 
      margin-right: 0;
    }
  }

  @include at-breakpoint($break-iPad) {
    li {
      width: auto;
      margin-right: 2em;
      
      &:last-child { margin-right: 0; }
    }
  }
}