.content-secondary {
  @include breakpoint($tablet-large) {
    @include span(4 omega);

    h2,
    h3 { text-align: left; }
  }

  @include breakpoint($screen-small) { padding-left: $gutter-width * 4; }
}
