.page {
  @include transition-property(margin, padding, min-height, height);

  @include breakpoint($tablet-large) {
    margin: 0 auto #{-$sticky-contentinfo-height};
    padding-bottom:  $sticky-contentinfo-height;
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }
}
