.section-bottom {
  @include padding-leader;
  @include padding-trailer;
  @include background(linear-gradient(mix($color-background-shade, $color-background), transparent));

  @include breakpoint($screen-small) {

  }
}
