/[if lt IE 7]
.chromeframe
  :markdown
    You are using an outdated browser. [Upgrade your browser today](http://browsehappy.com/) or [install Google Chrome Frame](http://google.com/chromeframe/?redirect=true) to better experience this site.

%hr/