<header
  class="sl-r-banner sl-r-banner--playground"
  itemtype="https://schema.org/WPHeader"
  itemscope="itemscope"
  role="banner">

  <div class="sl-c-pop-stripe"></div>
  <div class="sl-r-banner--playground-grid">
    <p class="sl-r-banner--playground__brand sl-r-banner__brand">
      <a href="/"><img
          height="24"
          alt="Sass"
          src="/assets/img/logos/logo.svg"></a>
    </p>
    <h1 class="sl-r-banner__playground-title">{{ title }}</h1>
    <div class="sl-r-banner__playground-actions">
      <div class="sl-r-banner__playground-button">
        <button
          type="button"
          id="playground-copy-url"
          class="sl-c-button sl-c-button--copy sl-c-button--icon-text">
          <div class="sl-c-playground-button--copy--copy">
            {%- render 'icons/copy' -%}
            <span class="visuallyhidden">Select to Copy</span>
          </div>
          <div class="sl-c-playground-button--copy--copied">
            {%- render 'icons/circle-check' -%}
            <span class="visuallyhidden">URL is Copied</span>
          </div>
          <span class="sl-c-button--icon-text--text">Copy URL</span>
        </button>
      </div>
      <div class="sl-c-alert sl-r-banner__playground-alert" id="playground-copied-alert">
        Copied to clipboard
      </div>
    </div>
  </div>
</header>
