.alert {
  @include padding-leader(.5);
  @include padding-trailer(.5);
  background: darken($color-background-invert, 5);
  color: $color-text-invert;

  ul,
  p {
    margin: {
      right: 0;
       left: 0;
    }
    padding-bottom: 0;
  }

  a {
    font-weight: $font-weight-bold;
    color: darken($color-text-strong-invert, 10%);

    &:hover,
    &:focus { border-bottom: 1px solid $color-text-invert; }
  }
}

.release ul {
  @extend %reset-list;
  text-align: inherit;
  margin-bottom: -0.16em;

  @include breakpoint($tablet-small) { @extend %horizontal-list-tablet-small; }
}

.release-name { white-space: nowrap; }

.alert.stickers {
  background: $midnight-blue;
}

.browsehappy {
  margin: 0;
  padding: 0;
  background: 0;
  color: inherit;
}
