.alert {
  @include padding-leader(.5);
  @include padding-trailer(.5);
  text-align: center;
  background: darken($color-background-invert, 10%);

  &,
  a { color: $color-text-invert; }

  ul,
  p {
    margin: {
      right: auto;
       left: auto;
    }
    padding-bottom: 0;
  }

  a {
    border-bottom: 1px solid rgba($color-text-invert, .5);
    font-weight: $font-weight-bold;

    &:hover,
    &:focus { border-bottom-color: rgba($color-text-invert, .75); }
  }
}

.release ul {
  @extend %reset-list;
  margin-bottom: -0.16em;

  @include breakpoint($tablet-small) { @extend %horizontal-list-tablet-small; }
}

.release-name { white-space: nowrap; }

.alert.stickers {
  background: $midnight-blue;
}

.browsehappy {
  margin: 0;
  padding: 0;
  background: 0;
  color: inherit;
}
