.sl-c-callout {
  margin: 1.5rem 0;
  padding: .75rem 1rem;
  background: $sl-color--midnight-blue;
  color: $sl-color--white;

  a,
  code { color: inherit; }

  a {
    border-bottom: 1px solid rgba(rgba($sl-color--white, .75), .5);
    font-weight: $sl-font-weight--bold;
    color: inherit;

    &:hover,
    &:focus { border-bottom-color: rgba($sl-color--white, .5); }

    &:active { border-bottom-color: rgba($sl-color--white, .75); }
  }

  &--warning { background: darken($sl-color--hopbush, 10%); }

  &--fun-fact { background: darken($sl-color--patina, 10%); }
}
