code,
pre {
  font-family: $sl-font-family--code;
  border-radius: sl-px-to-em(2px);
  color: darken($sl-color--pale-sky, 25%);

  a & { color: inherit; }
}

code { line-height: 1; }

pre {
  border: 1px solid #ebebeb;
  padding: .75rem 1rem;
  overflow: auto;
  background: rgba($sl-color--midnight-blue, .0625);

  code { line-height: inherit; }
}
