.hero-image img {
  max-width: 100%;
  height: auto;
}

@include breakpoint($tablet-large) {
  .hero-lockup {
    @extend %table-layout-tablet-large;
    margin: {
      top: -4em;
      bottom: -4em;
    }

    .hero-image {
      @extend %table-layout-cell-tablet-large;
      padding: {
        right: 2em;
        bottom: 0;
      }
    }

    .introduction {
      @extend %table-layout-cell-tablet-large;
      padding: 0;
      text-align: left;
    }
  }
}
