$os-icons: 'icons/os-icons.png';

// TODO: Make these use a 16-base instead of 15.
%os-icons {
  background: image-url($os-icons) 0 0 no-repeat;
  background-size: auto sl-px-to-rem(15px);
  display: inline-block;
  width: sl-px-to-rem(15px);
  height: sl-px-to-rem(15px);
}

.mac-icon {
  @extend %os-icons;
  background-position: -(sl-px-to-rem(35px)) 0;
}

.windows-icon {
  @extend %os-icons;
}

.linux-icon {
  @extend %os-icons;
  background-position: -(sl-px-to-rem(65px)) 0;
}

.paid-icon {
  @extend %os-icons;
  background-position: -(sl-px-to-rem(100px)) 0;
}
