.sl-c-link-header {

  a {
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      margin: {
        right: .5rem;
        left: 1rem;
      };
      font-size: 1rem;
      content: "\1F517";
      visibility: hidden;
    }

    &:hover,
    &:focus {
      background: none;

      &:after { visibility: visible; }
    }
  }
}
