.sl-c-list {

  &,
  &-horizontal-wrapper ul,
  &-navigation-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-horizontal-wrapper {

    @include sl-breakpoint--large {

      ul {
        display: flex;
        margin: {
          right: -0.5rem;
          left:  -0.5rem;
        };
      }

      li {
        padding: {
          right: .5rem;
          left:  .5rem;
        };
      }
    }
  }

  &-navigation-wrapper {

    li { margin: .125rem 0; }

    ul ul { margin: 0 0 0 1rem; }
  }
}
