.sl-l-medium-holy-grail__body.sl-js-nav--is-sticky .sl-c-list-navigation-wrapper{
  position: sticky;
  top: 0;
  bottom: 0;
  overflow-y: scroll;

  @include sl-breakpoint--large { 
    height: 100vh;
  }
}
