/*! Railroad diagram styles copyright © 2018 W3C® (MIT, ERCIM, Keio, Beihang).
 *  W3C liability, trademark and permissive document license rules apply.
 *  http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer
 *  http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks
 *  http://www.w3.org/Consortium/Legal/2015/copyright-software-and-document */

svg.railroad-diagram {
  background-color: hsl(30,20%,95%);

  path {
    stroke-width: 3px;
    stroke: black;
    fill: rgba(0,0,0,0);
  }

  text {
    font:bold 14px monospace;
    text-anchor:middle;
  }

  text.label {
    text-anchor:start;
  }

  text.comment {
    font: italic 12px monospace;
  }

  rect {
    stroke-width: 3px;
    stroke: black;
    fill: hsl(120,100%,90%);
  }
}
