.slides {
  .ui-helper-reset { line-height: inherit; }

  .ui-tabs {
    &,
    .ui-tabs-nav,
    .ui-tabs-nav li.ui-tabs-active,
    .ui-tabs-panel { padding: 0; }

    .ui-tabs-nav {
      @include trailer(-3);
      margin-right: -1em;
      a:focus {
        outline: 0px !important;
        border:none !important;
        box-shadow:none !important;
      }
      .ui-tabs-active { 
          &:after, &:before {
            bottom: -1px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: transparent;
            border-bottom-color: #f8f8f8;
            border-width: 10px;
            margin-left: -10px;
          }
          &:before {
            border-color: transparent;
            border-bottom-color: #ebebeb;
            border-width: 11px;
            margin-left: -11px;
          }
      }
      li {
        float: right;

        &,
        &.ui-tabs-active { margin: 0; }


        &.css-tab {
          &,
          &.ui-tabs-active { margin-left: 2em; }

          a::before {
            color: $color-text-weak;
            content: "🢩";
            font-size: 1.3em;
            font-weight: bold;
            left: -1.2em;
            position: absolute;
          }
        }
      }

      .ui-tabs-active a { color: $color-text-weak; }

      .ui-tabs-anchor {
        @include padding-leader(.5);
        @include padding-trailer(.5);
        padding: {
          right: 1em;
           left: 1em;
        }
      }
    }
  }
}
