.ui-helper-reset { line-height: inherit; }
.slides {
  .ui-helper-reset { line-height: inherit; }

  .ui-tabs {
    &,
    .ui-tabs-nav,
    .ui-tabs-nav li.ui-tabs-active,
    .ui-tabs-panel { padding: 0; }

    .ui-tabs-nav {
      @include trailer(-3);
      margin-right: -1em;
      a:focus {
        outline: 0px !important;
        border:none !important;
        box-shadow:none !important;
      }
      .ui-tabs-active {
          &:after, &:before {
            bottom: -1px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: transparent;
            border-bottom-color: #f8f8f8;
            border-width: 10px;
            margin-left: -10px;
          }
          &:before {
            border-color: transparent;
            border-bottom-color: #ebebeb;
            border-width: 11px;
            margin-left: -11px;
          }
      }
      li {
        float: right;

        &,
        &.ui-tabs-active { margin: 0; }


        &.css-tab {
          &,
          &.ui-tabs-active { margin-left: 2em; }

          a::before {
            color: $color-text-weak;
            content: "\21d2";
            font-size: 1.3em;
            font-weight: bold;
            left: -1.2em;
            position: absolute;
          }
        }
      }
.ui-tabs {
  &,
  .ui-tabs-nav,
  .ui-tabs-nav li.ui-tabs-active,
  .ui-tabs-panel { padding: 0; }

  .ui-tabs-nav {
    position: relative;
    top: 4.78rem;
    margin-right: -1em;
    a:focus {
      outline: 0px !important;
      border:none !important;
      box-shadow:none !important;
    }
    .ui-tabs-active {
        &:after, &:before {
          bottom: -3px;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: transparent;
          border-bottom-color: #f8f8f8;
          border-width: 10px;
          margin-left: -10px;
        }
        &:before {
          border-color: transparent;
          border-bottom-color: #ebebeb;
          border-width: 11px;
          margin-left: -11px;
        }
    }
    li {
      float: right;

      &,
      &.ui-tabs-active { margin: 0; }


      &.css-tab {
        &,
        &.ui-tabs-active { margin-left: 2em; }

        a::before {
          color: $sl-color--regent-grey;
          content: "\21d2";
          font-size: $sl-font-size--large;
          font-weight: $sl-font-weight--bold;
          left: -1.2em;
          position: absolute;
          top: sl-px-to-rem(7.5px);
        }
      }
    }

    .ui-tabs-active a { color: $sl-color--regent-grey; }

    .ui-tabs-anchor { padding: .75rem 1rem; }
  }
}

.ui-widget.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0; }

.ui-widget-header { font-weight: inherit; }

.ui-widget { font: inherit; }

.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { background: none; }

.ui-widget-content,
.ui-widget-header { color: inherit; }

.sl-c-callout {
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active,
  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited,
  a.ui-button,
  a:link.ui-button,
  a:visited.ui-button,
  .ui-button { color: inherit; }

  .ui-widget a { border: 0; }

  .ui-tabs .ui-tabs-nav li.css-tab a::before {
    color: rgba(white, .5);
  }
}

