.slide-navigation li { padding: .25em 0; }

.slides { @extend %reset-list; }



@include breakpoint($mobile-large) {
  .slide-navigation {
    @extend %clear-fix-mobile-large;

    li {
      @include span(2);

      &:nth-child(even) { @include omega; }
    }
  }

  .slides {
    padding: {
         top: 1em;
      bottom: 1em;
    }
  }
}
