.slide-navigation li { padding: sl-px-to-rem(4px) 0; }

.slides { @extend %reset-list; }



@include breakpoint($mobile-large) {
  .slide-navigation {
    @extend %clear-fix-mobile-large;

    li {
      @include span(2);

      &:nth-child(even) { @include omega; }
    }
  }

  .slides {
    padding: {
         top: sl-px-to-rem(16px);
      bottom: sl-px-to-rem(16px);
    }
  }
}
