$table-cell-padding: 1rem / 2;

.sl-c-table {
  border: 0;
  width: 100%;
  max-width: 100%;
  background: white;

  td,
  th {
    border: 0;
    padding: .75rem $table-cell-padding;
    vertical-align: top;
  }

  th,
  caption {
    text-align: left;
  }

  @include sl-breakpoint--medium-max {
    &-responsive {
      margin-bottom: 1.5rem;
      width: 100%;
      overflow: {
        x: auto;
        y: hidden;
      }

      table { margin-bottom: 0; }

      td { white-space: nowrap; }
    }
  }
}

.impl-status {

  tr { border-bottom: 1px solid $sl-color--iron; }

  caption {
    caption-side: bottom;
    font: inherit;
  }
}
