// Spacing Sizes
// -------------
$gutter: 1rem; // ~16px
$gutter--quarter: calc(var(--sl-gutter) * 0.25); // ~4px
$gutter--half: calc(var(--sl-gutter) * 0.5); // ~8px
$gutter--minus: calc(var(--sl-gutter) * 0.75); // ~12px
$gutter--plus: calc(var(--sl-gutter) * 1.25); // ~20px
$gutter--sesqui: calc(var(--sl-gutter) * 1.5); // ~24px
$gutter--double: calc(var(--sl-gutter) * 2); // ~32px
$gutter--double-sesqui: calc(var(--sl-gutter) * 2.5); // ~40px
$gutter--triple: calc(var(--sl-gutter) * 3); // ~48px

// Negative Spacing Sizes
// ----------------------
$gutter--negative: calc(var(--sl-gutter) * -1);
$gutter--quarter-negative: calc(var(--sl-gutter--quarter) * -1);
$gutter--half-negative: calc(var(--sl-gutter--half) * -1);
$gutter--minus-negative: calc(var(--sl-gutter--minus) * -1);
$gutter--plus-negative: calc(var(--sl-gutter--plus) * -1);
$gutter--sesqui-negative: calc(var(--sl-gutter--sesqui) * -1);
$gutter--double-negative: calc(var(--sl-gutter--double) * -1);
$gutter--double-sesqui-negative: calc(var(--sl-gutter--double-sesqui) * -1);
$gutter--triple-negative: calc(var(--sl-gutter--triple) * -1);

// UI Sizes
// --------
$border-radius--large: 0.25rem;
$border-radius--small: 0.125rem;
$border--small: 1px;
$column--medium: 30rem;
$column--small: 15rem;
$table-cell-padding: var(--sl-gutter--half);

// Layout Sizes
// ------------
$breakpoint--small: 30em; // 480px
$breakpoint--medium: 40em; // 640px
$breakpoint--large: 60em; // 960px
$breakpoint--x-large: 80em; // 1280px

// Font Sizes Generic
// ------------------
$font-size--smaller: 90%;
$font-size--x-small: 0.875rem; // 14px
$font-size--small: 1rem; // 16px
$font-size--medium: 1.125rem; // 18px
$font-size--large: 1.25rem; // 20px
$font-size--x-large: 1.5rem; // 22px
$font-size--xx-large: 1.75rem; // 28px
$font-size--xxx-large: 2rem; // 32px
$font-size--xxxx-large: 5rem; // 80px

// Font Sizes Custom
// -----------------
$status-text-size: 0.8em;
