$sl-font-weight--light: 300;
$sl-font-weight--regular: 400;
$sl-font-weight--bold: 600;

$sl-font-family--text: 'Source Sans Pro', system-ui, -apple-system, 'Segoe UI',
  roboto, ubuntu, cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$sl-font-family--display: 'Source Serif Pro', 'Apple Garamond', 'Baskerville',
  'Times New Roman', 'Droid Serif', times, serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$sl-font-family--code: Menlo, Consolas, "Courier New", Courier, ui-monospace, monospace !default;
