%h1 Get Started with Sass on the Command Line

:markdown
  The command line is Sass's primary interface and is maintained by the
  Sass developers.  If you are comfortable with your computer's console,
  using the Sass command line will give you full access to all of Sass's
  features as soon as they are available.

  Using the command line isn't as hard as you might think, if you're
  interested in learning more about it read this excellent [Command Line
  for Designers][1] tutorial.

  [1]: http://wiseheartdesign.com/articles/2010/11/12/the-designers-guide-to-the-osx-command-prompt/

%h2 Installation

%h3 On Unix &amp; Mac

:markdown
  Sass requires Ruby 1.8.7 or greater. Most computers have a supported
  version of Ruby installed. If you need to install ruby, please see the
  <a href="http://www.ruby-lang.org/en/downloads/">ruby installation
  guide</a>

  Open your terminal and type the following (Except the `$`, that's the
  prompt which may be different on your machine)

      $ sudo gem install sass

  Ruby will prompt you to type your password so that ruby can install sass
  into your ruby system library location.

  Once complete, verify that sass is working by typing:

      $ sass -v

  If everything is working correctly, Sass will print out the version
  that was installed.


%h3 On Windows

:markdown
  Ruby is not installed by default on Windows machines. To install ruby
  please use the [Windows Ruby Installer][1]. Once ruby is working
  correctly you will be able to install Sass by typing the following
  into your console (Except the `PS C:\>` part, that's the prompt which
  may be different on your machine).

      PS C:\> gem install sass

  Once complete, verify that sass is working by typing:

      PS C:\> sass -v

  If everything is working correctly, Sass will print out the version
  that was installed.

  [1]: http://rubyinstaller.org/


%h2 Create and compile your first Sass file

:markdown
  Using your favorite text editor, create a your first sass file (with
  the extension `.scss`) in your text editor or you can just copy and
  paste this into your Unix/Mac terminal:

      $ echo "\$body-color: red; body { color: \$body-color; }" > first.scss

  Now the file can be turned into css:

      $ sass --update first.scss:first.css

  To see the contents of the generated css file you can open it in your
  text editor or type:

      $ cat first.css

  Of course, it can be quite tedious to remember to run this command
  every time the sass file changes, so sass makes this easier for you
  with the watch command:

      $ sass --watch first.scss:first.css

  Now whenever you save the `first.scss` file in your text editor, sass
  will immediately regenerate the `first.css` output file.

%h2 Create and compile a whole project

:markdown
  Compiling individual sass files will work for small projects, but once
  you need several css files, it is very cumbersome. Sass optimizes this
  by allowing you to specify directory/folder names instead of file names
  to the `update` and `watch` commands.

      $ sass --watch sass:css

  Any time any file in that folder or any of the subfolders changes, sass
  will re-compile the changed files.

