%h1 Get Started

%p We have a couple ways to get started. Choose your own adventure:

%ol
  %li= link_to "Command Line Guide", '/get-started/command-line'
  %li= link_to "GUI Guide",          '/get-started/gui'
