.alert.stickers
  .sl-l-container
    %p
      %strong Your laptop needs more Sass.
      = succeed '.' do
        = link_to 'http://devswag.com/products/sass-stickers-4' do
          Grab a set of Sass stickers now
