// ===========================================================================
// GET STARTED



.get-started { @extend %content-list; }



// ---------------------------------------------------------------------------
// SMALL TABLET

@mixin get-started-small-tablet {
  .get-started {
    @extend %clearfix-small-tablet;

    li {
      @include span-columns(2);

      &:last-child { @include omega; }
    }

    p {
      text-align: left;

      &.illustration { text-align: center; }
    }
  }

  .description { min-height: 8.5em; }
}