// ===========================================================================
// MESSAGES



.message {
  @extend %chaparral-pro-regular;
  @extend %callout-theme;
  padding: .66666666666667em;
  @include font-size($font-size-large);

  .container { margin: 0; }

  p,
  ul {
    padding: .25em 0;

    &:first-child { padding-top:    0; }
    &:last-child  { padding-bottom: 0; }
  }

  a,
  strong { @extend %chaparral-pro-semibold; }
}