// ===========================================================================
// MESSAGES



$message-background-color: $callout-background-color !default;



.message {
  @extend %chaparral-pro-regular;
  position: relative;
  padding: {
       top: .5em;
    bottom: .5em;
  }
  background: $message-background-color;
  @include box-shadow-both;

  ul { @include reset-list; }

  strong { @extend %chaparral-pro-semibold; }
}