// ===========================================================================
// QUICK STARTS



.quick-starts {
  @extend %content-list;
}



// ---------------------------------------------------------------------------
// SMALL TABLET

@mixin quick-starts-small-tablet {
  .quick-starts {
    @extend %clearfix-small-tablet;

    li {
      @include span-columns(2);

      &:last-child { @include omega; }
    }

    p {
      text-align: left;

      &.illustration { text-align: center; }
    }
  }

  .description { min-height: 8.5em; }
}