// ===========================================================================
// QUICK STARTS




.quick-starts {
  list-style: none;
}

@include at-breakpoint($break-iPad) {
  .quick-starts {
    @extend %clearfix-iPad;
    list-style: none;
    padding-bottom: 2em;

    li {
      &.command-line    { @include span-columns(6, $break-iPad);       }
      &.gui-application { @include span-columns(6 omega, $break-iPad); }
    }

    .description { min-height: 4em; }
  }
}