// ===========================================================================
// MESSAGES



.release-information {
  margin-top: -2em;
  padding: .5em 0;

  p,
  ul { @include font-size($font-size, $line-height-alt); }

  strong {
    white-space: nowrap;
  }

  @include at-breakpoint($break-iPhone) {
    ul { @extend %horizontal-list-iPhone; }
  }

  @include at-breakpoint($break-iPad) {
    padding: 1em 0;

    p,
    ul {
      @include float-left;
      padding: 0;
    }

    p { margin-right: 2em; }
  }
}