// ===========================================================================
// MESSAGES



.release-information {
  @include float-right;
  margin-top: 2em;
  width: 21.5em;
  @include font-size;
  text-align: left;

  p,
  ul { padding: 0; }

  ul { @extend %horizontal-list; }
}