// ===========================================================================
// SLIDES



.slide-navigation li { padding: .25em 0; }

.slides { @extend %content-list; }



// ---------------------------------------------------------------------------
// iPhone

@mixin slides-iPhone {
  .slide-navigation {
    @extend %horizontal-list-iPhone;

    li {
      @include span-columns(2);
      padding: {
        right: $gutter-width;
        left: $gutter-width;
      }

      &:nth-child(even) { @include omega; }
    }
  }

  .slides {
    padding: {
         top: 1em;
      bottom: 1em;
    }
  }
}



// ---------------------------------------------------------------------------
// SMALL TABLET

@mixin slides-small-tablet {
  .slides p { text-align: left; }
}