.introduction {
  padding-bottom: 0;
  max-width: 35em;
  text-align: center;

  @include at-breakpoint($tablet-large) {
    @include font-size-large;

    .main & {
      @include trailer(1, $font-size-large);
      text-align: left;
    }
  }
}
