.introduction {
  margin: 0 auto;
  max-width: 25em;
  text-align: center;
  color: $color-accent;

  @include breakpoint($tablet-large) {
    @include font-size-large;

    .content-primary & { text-align: left; }
  }
}
