<footer
  class="site-footer contentinfo"
  itemtype="http://schema.org/WPFooter"
  itemscope="itemscope"
  role="contentinfo">
  <div class="sl-l-container sl-l-section">
    <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters">
      <div class="sl-l-grid__column">
        <p>Sass &copy; 2006&ndash;{{ 'now' | date: '%Y' }} the Sass team, and numerous contributors.
        It is available for use and modification under the <a href="https://github.com/sass/dart-sass/blob/master/LICENSE">MIT&nbsp;License</a>.</p>

        <nav class="sl-c-list-horizontal-wrapper">
          {% markdown -%}
            {% include 'footer_links.md' %}
          {%- endmarkdown %}
        </nav>
      </div>
      <div class="sl-l-grid__column sl-l-large-grid__column--auto-size sl-l-large-grid--justify-right">
        <a
          class="twitter-follow-button"
          href="https://twitter.com/SassCSS"
          data-show-count="false"
          data-size="large">Follow @SassCSS</a>
        <a href="https://www.macstadium.com/"><img
            alt="Powered by MacStadium"
            class="mac-stadium-icon"
            src="https://uploads-ssl.webflow.com/5ac3c046c82724970fc60918/5c019d917bba312af7553b49_MacStadium-developerlogo.png"></a>
        <script>
          !function(d, s, id) {
            var js,
              fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location)
                ? 'http'
                : 'https';
            if (! d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + '://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, 'script', 'twitter-wjs');
        </script>
      </div>
    </div>
  </div>
</footer>
