<footer
  class="site-footer contentinfo"
  itemtype="https://schema.org/WPFooter"
  itemscope="itemscope"
  role="contentinfo">
  <div class="sl-l-container">
    <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters">
      <div class="sl-l-grid__column">
        {% markdown %}
          Sass &copy; 2006&ndash;{{ 'now' | date: '%Y' }} the Sass team, and numerous contributors.
          It is available for use and modification under the [MIT License](https://github.com/sass/dart-sass/blob/main/LICENSE).
        {% endmarkdown %}

        {% renderFile 'source/_includes/footer_nav.md' %}
      </div>
      <div class="sl-l-grid__column sl-l-large-grid__column--auto-size sl-l-large-grid--justify-right sl-c-footer-link-grid">
        <a
            rel="me"
            class="sl-c-button sl-c-button--icon sl-c-button--icon-text"
            href="https://front-end.social/@sass">
          {%- render 'icons/mastodon' -%}
          @sass@front-end.social
        </a>
        <a
          class="sl-image-link"
          href="https://www.netlify.com"><img
            alt="Deploys by Netlify"
            src="https://www.netlify.com/v3/img/components/netlify-color-bg.svg"/></a>
      </div>
    </div>
  </div>
</footer>
