<header
  class="sl-r-banner"
  itemtype="http://schema.org/WPHeader"
  itemscope="itemscope"
  role="banner">
  <div class="sl-c-alert sl-c-alert--info" style="background: #000; padding: 3rem 0; text-align: left;">
    <div class="sl-l-container">
      <h2 style="margin-top: 0;">Black Lives Matter</h2>
      <p>
        Sass stands with the protesters against police violence. We encourage our users to
        <strong>get in the streets and join them if you can</strong>.
      </p>
    </div>
  </div>

  <div class="sl-c-pop-stripe"></div>
  <div class="sl-l-container">
    <div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters">
      <p class="sl-l-grid__column sl-r-banner__brand">
        <a href="/"><img
            height="48"
            alt="Sass"
            src="/assets/img/logos/logo.svg"></a>
      </p>
      <nav
        class="sl-r-banner__navigation sl-l-grid__column sl-l-large-grid sl-l-large-grid__column--auto-size sl-c-list-horizontal-wrapper"
        itemtype="http://schema.org/SiteNavigationElement"
        itemscope="itemscope"
        role="navigation"
        aria-label="Site navigation">
        {% include 'header_links' %}
      </nav>
    </div>
  </div>
</header>
