<header
  class="sl-r-banner sl-r-banner-playground"
  itemtype="https://schema.org/WPHeader"
  itemscope="itemscope"
  role="banner">

  <div class="sl-c-pop-stripe"></div>
  <div class="sl-l-container">
    <div class="sl-l-grid sl-l-grid--full sl-l-small-grid--fit sl-l-small-grid--center sl-l-small-grid--gutters">
      <p class="sl-l-grid__column sl-r-banner__brand">
        <a href="/"><img
            height="24"
            alt="Sass"
            src="/assets/img/logos/logo.svg"></a>
      </p>
      <h2 class="sl-l-grid__column">{{ title }}</h2>
      <!-- Placeholder for click to copy -->
      <div class="sl-l-grid__column" />
    </div>
  </>
</header>
