@use '../breakpoints';

.site-footer {
  --sl-type-margin-block: var(--sl-gutter--quarter);

  padding-bottom: var(--padding-footer-bottom, var(--sl-gutter));
  padding-top: var(--sl-gutter);

  @include breakpoints.sl-breakpoint--large {
    --padding-footer-bottom: var(--sl-gutter--half);
  }
}

.sl-c-footer-link-grid {
  align-items: center;
  display: grid;
  gap: var(--sl-gutter);
  grid-template-columns: minmax(var(--sl-width--twitter-link), auto) 1fr;

  @include breakpoints.sl-breakpoint--large {
    grid-template-columns: minmax(var(--sl-width--twitter-link), auto) minmax(
        var(--sl-width--mac-stadium-icon),
        auto
      );
  }
}
