.maruku_toc {
  background: #dddddd;
  border: 1px solid #cccccc;
  margin-right: 2em;
  float: left; }
  .maruku_toc ul {
    padding: 0 1em; }
  #frequently_asked_questions + .maruku_toc {
    float: none;
    margin: 0 2em; }

#filecontents *:target, #filecontents dt:target + dd {
  background-color: #ccccff;
  border: 1px solid #8888bb; }
#filecontents dt {
  font-weight: bold; }
#filecontents dd {
  margin-left: 0;
  margin-bottom: 0.7em;
  padding-left: 3em; }
#filecontents dt:target {
  border-bottom-style: none; }
  #filecontents dt:target + dd {
    border-top-style: none; }
