---
title: "Not found :("
---

- content_for :css do
  = stylesheet_link_tag "404"

- content_for :introduction do
  Sorry, but the page you were trying to view does not exist.

%p It looks like this was the result of either:
%ul
  %li a mistyped address.
  %li an out-of-date link.

- content_for :complementary do
  :javascript
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
  %script(src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js")
