---
title: Sass | Syntactically Awesome Style Sheets
---

%h1 CSS with superpowers

%p Sass is the most mature, stable CSS preprocessor in the world. It's been around for 7 years and is trusted by hundreds of development shops and companies around the world.


- content_for :section_2 do
  .message.current-release
    .container
      %dl
        %dt Current Release:
        %dd Media Mark (3.2.1)
      :markdown
        * [Release Notes](#)
        * [Fork Sass on Github](#)

  