---
title: Syntactically Awesome Style Sheets
h1: CSS with superpowers
no_container: true
---


.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--center.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    %p.sl-c-introduction
      Sass is the most mature, stable, and powerful professional grade CSS
      extension language in the world.

  %p.sl-l-grid__column
    = image_tag 'illustrations/glasses.svg', height: '160', alt: 'Glasses'

- content_for :section_bottom do
  %ul.sl-l-grid.sl-l-grid--full.sl-l-medium-grid--gutters-large.sl-l-medium-grid--divide-by-2.sl-l-large-grid--divide-by-3.sl-l-section
    %li.sl-l-grid__column
      :markdown
        ## CSS Compatible

        Sass is completely compatible with all versions of CSS. We take this
        compatibility seriously, so that you can seamlessly use any available
        CSS libraries.

    %li.sl-l-grid__column
      :markdown
        ## Feature Rich

        Sass boasts more features and abilities than any other CSS extension
        language out there. The Sass Core Team has worked endlessly to not only
        keep up, but stay ahead.

    %li.sl-l-grid__column
      %h2 Mature

      %p
        Sass has been actively supported for
        = time_ago_in_words DateTime.parse('Tue Nov 28 19:43:58 2006 +0000')
        by its loving Core Team.

    %li.sl-l-grid__column
      :markdown
        ## Industry Approved

        Over and over again, the industry is choosing Sass as the premier CSS
        extension language.

    %li.sl-l-grid__column
      :markdown
        ## Large Community

        Sass is actively supported and developed by a consortium of several tech
        companies and hundreds of developers.

    %li.sl-l-grid__column
      :markdown
        ## Frameworks

        There are an endless number of frameworks built with Sass.
        [Bourbon](http://bourbon.io/) and [Susy](http://susy.oddbird.net/) just
        to name a few.
