---
layout: base
title: 'Playground'
is_playground: true
---
<div id="docsearch"></div>
<div class="playground-wrapper" data-compiler-has-error="false">
  <div class="code-editor-wrapper">
    <div
      class="code-editor-tabbar playground-precompiled"
      data-active="scss"
      data-setting="inputFormat">
      <button
        type="button"
        data-value="scss"
        data-tabbar="item"
        data-setting="inputFormat">SCSS</button>
      <button
        type="button"
        data-value="indented"
        data-tabbar="item"
        data-setting="inputFormat">Sass</button>
    </div>
    <div id="editor"></div>
  </div>
  <div class="code-editor-wrapper">
    <div
      class="code-editor-tabbar"
      data-active="expanded"
      data-setting="outputFormat">
      <span data-tabbar="item">
        <strong>CSS</strong>
        (Compiled)
      </span>
      <button
        type="button"
        data-value="expanded"
        data-tabbar="item"
        data-setting="outputFormat">Expanded</button>
      <button
        type="button"
        data-value="compressed"
        data-tabbar="item"
        data-setting="outputFormat">Compressed</button>
    </div>
    <div id="code-editor-error-alert">Please resolve error to view compiled CSS.</div>
    <div id="css-view"></div>
  </div>
  <div class="console-wrapper">
    <div class="code-editor-tabbar">
      <span data-tabbar="item">
        Debug Console
      </span>
    </div>
    <pre class="console"></pre>
  </div>
</div>

<script type="module" src="/assets/dist/js/playground.js"></script>
