---
layout: base
title: Playground
is_playground: true
---

<div class="sl-c-playground" data-compiler-has-error="false">
  <div class="sl-c-playground__code-editor-wrapper" data-code="precompiled">
    <div class="sl-c-playground__editor-tabbar" data-setting="inputFormat">
      <button
        type="button"
        data-value="scss"
        data-active="true"
        data-tabbar="item"
        class="sl-c-button sl-c-button--tab"
        data-setting="inputFormat">SCSS</button>
      <button
        type="button"
        data-value="indented"
        data-active="false"
        data-tabbar="item"
        class="sl-c-button sl-c-button--tab"
        data-setting="inputFormat">Sass</button>
    </div>
    <div id="editor"></div>
  </div>
  <div class="sl-c-playground__code-editor-wrapper" data-code="compiled">
    <div class="sl-c-playground__editor-tabbar" data-setting="outputFormat">
      <button
        type="button"
        data-value="expanded"
        data-active="true"
        data-tabbar="item"
        class="sl-c-button sl-c-button--tab"
        data-setting="outputFormat">Expanded</button>
      <button
        type="button"
        data-value="compressed"
        data-active="false"
        data-tabbar="item"
        class="sl-c-button sl-c-button--tab"
        data-setting="outputFormat">Compressed</button>
      <span data-tabbar="item" class="sl-c-playground__tabbar-title tabbar-title">
        <strong>CSS</strong>
        (Compiled)
      </span>
    </div>
    <div id="code-editor-error-alert" class="sl-c-callout sl-c-callout--warning">Please resolve error to view compiled CSS.</div>
    <div id="css-view" class="sl-code-is-compiled"></div>
  </div>
  <div class="sl-c-playground__console-wrapper">
    <div class="sl-c-playground__editor-tabbar">
      <span data-tabbar="item" class="sl-c-playground__tabbar-title">
        Console
      </span>
    </div>
    <pre class="console"></pre>
  </div>
</div>

<script
  type="module"
  src="/assets/dist/js/playground.js"
  async></script>
