.section-header
  %h1 Quickstart
  %p some text

  %aside
    %h2 (relative to type of quickstart)
    %p secondary info (CL instructions or download button)

.quickstart-section

  %h2 Now What?
  %p You have Sass installed... download our quickstart playground zipfile of awesome

  .video of some kind, by LessFilms?

  %h3 Transcript
  %p some content related to the video... take these steps:
  
  %ol
    %li Step 1.
    %li Step 2., etc.


