- content_for :head do
  = stylesheet_link_tag "style-guide"



%h1 Style Guide

%iframe(src="/" border="0" width="240" height="480")
%iframe(src="/" border="0" width="320" height="480")
%iframe(src="/" border="0" width="480" height="480")
%iframe(src="/" border="0" width="768" height="480")
%iframe(src="/" border="0" width="1024" height="480")

%h2 Color
%ul.swatches
  %li.black
    %code $black
  %li.grey-darkest
    %code $grey-darkest
  %li.grey-darker
    %code $grey-darker
  %li.grey-dark
    %code $grey-dark
  %li.grey
    %code $grey
  %li.grey-light
    %code $grey-light
  %li.grey-lighter
    %code $grey-lighter
  %li.grey-lightest
    %code $grey-lightest
  %li.white
    %code $white