- content_for :head do
  = stylesheet_link_tag "style-guide"



%h1 Style Guide

%iframe(src="/" width="240"  height="480")
%iframe(src="/" width="320"  height="480")
%iframe(src="/" width="480"  height="480")
%iframe(src="/" width="768"  height="480")
%iframe(src="/" width="1024" height="480")
