img {
  display: inline-block;
  border: 0;
  vertical-align: middle;
}

hr {
  $new-spacing: ($base-line-height - 1) / $base-line-height;
  @include leader($new-spacing);
  @include trailer($new-spacing);
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  display: block;
  padding: 0;
  height: 1px;
  border: 0 {
    top: 1px solid $color-border;
  }
}

svg:not(:root) { overflow: hidden; }
