* {
  @include box-sizing(border-box);
}

@include establish-baseline;

%reset-margin {
  margin: 0;
}

%reset-border {
  border: 0;
}

%reset-padding {
  padding: 0;
}

%text {
  font-family: $font-family-text;
  color: $color-text;
}

html {
  @extend %text;
  overflow-x: hidden;

  text: {
    rendering: optimizeLegibility;
    align: center;
  }

  background: image-url("textures/grey-prism.svg");
  -webkit-tap-highlight-color: rgba($black, 0);

  &.toolkit-baseline {
    @include debug-vertical-alignment;
  }

}

body {
  background: none;
}

@mixin theme-selection {
  background: $color-background-shade;
}

::-moz-selection {
  @include theme-selection;
}

::selection {
  @include theme-selection;
}

@include breakpoint($tablet-large) {

  html,
  body {
    height: 100%;
  }

  html {
    background-position: left top;
    background-repeat: repeat-x;
  }

}
