---
title: Color & Theming
---

<h2>Brand Colors</h2>

<ul class="sl-l-grid sl-l-grid--full sl-l-large-grid--divide-by-3 sl-l-large-grid--gutters">
  {% for swatch in colors %}
    <li class="sl-l-grid__column">
      <p class="sl-background--{{ swatch.name }}">&nbsp;</p>
      <code>$sl-color--{{ swatch.name }}</code>
    </li>
  {% endfor %}
</ul>
