---
title: Style Guide
---

- content_for (:introduction) do
  Contributing to this website? Awesome! Use this style guide, developed by
  Team Sass Design. If you add new design, please document it here.

%h2 Site Objectives

%ol.list-feature
  %li Show why Sass is the best CSS Preprocessor,  and why you should use it.
  %li
    Be a resource for those who are already using Sass,
    at&nbsp;whatever&nbsp;level.
