---
title: Team SASS Design
---

%p.introduction
  %strong Team SASS Design
  is a design task force who redesigned the brand and website for SASS. You
  can follow us on Twitter for site and design announcements:

  %a.twitter-follow-button(href="https://twitter.com/TeamSassDesign" data-show-count="false" data-size="large") Follow @TeamSASSDesign
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

%dl
  %dt Team SASS Design:
  %dd
    %ul
      %li
        = succeed "," do
          = link_to "Jina", "http://jina.me"
        team lead
      - data.team.crew.each do |member|
        %li= link_to member.name, member.link

%dl
  %dt Major website contributors
  %dd
    %ul
      - data.team.core.each do |member|
        %li= link_to member.name, member.link

%p
  Additionally, many people attending
  <a href="http://sassconf.com">SASSConf 2013</a> jumped in and helped get the
  site deployed. Many thanks for that.
