@use '../breakpoints';
@use '../functions';

.sl-l-container {
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: var(--sl-gutter);
    left: var(--sl-gutter);
  }

  max-width: functions.sl-px-to-rem(1920px);

  @include breakpoints.sl-breakpoint--small {
    padding: {
      right: var(--sl-gutter--double);
      left: var(--sl-gutter--double);
    }
  }

  &--small {
    max-width: functions.sl-px-to-rem(960px);
  }

  .sl-l-container {
    padding: 0;
  }
}
