.sl-l-section {
  margin: {
    top: var(--sl-gutter--triple);
    bottom: var(--sl-gutter--triple);
  }
  padding: {
    top: var(--sl-gutter--triple);
    bottom: var(--sl-gutter--triple);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
