.sl-l-section {
  margin: {
    top: 3rem;
    bottom: 3rem;
  }
  padding: {
    top: 3rem;
    bottom: 3rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
