name: Shadow Repo

on:
  push:
    branches: [main, feature.*]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: npm
      - uses: ./.github/util/dart-sass
      - run: npm ci
      - run: npm run build-prod
      - run: tar cf site.tar _site
      - uses: actions/upload-artifact@v4
        with:
          name: site
          path: site.tar

  prep-diff-link:
    name: Prep comment
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    steps:
      - name: Save comment
        env:
          COMMENT: |
            View diff of compiled files (may take a few minutes): https://github.com/${{ vars.SHADOW_OWNER }}/${{ vars.SHADOW_REPO }}/compare/${{ github.event.pull_request.base.ref }}..${{ github.event.pull_request.head.ref }}
        run: |
          echo $COMMENT > ./comment.txt
      - uses: actions/upload-artifact@v4
        with:
          name: comment
          path: comment.txt
