code,
pre {
  @include font-size-small;
  font: {
    weight: $font-weight-regular;
    family: $font-family-code;
  }
  white-space: pre-wrap;
  background: rgba($color-background-shade, .5);
  color: $color-text-strong;
}

code {
  padding: .25em;
  line-height: 0;
}

pre {
  @include trailer;
  @include rhythm(.5, .5, .5, .5);
  @include bleed;
  display: block;
  // max-height: 340px;
  overflow-y: auto;
  word: {
    break: break-all;
    wrap: break-word;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    @extend %reset-padding;
    background: none;
    font-size: inherit;
    line-height: inherit;
  }
}
