// ===========================================================================
// LISTS



@mixin reset-list {
  list-style: none;
  padding: {
       top: 0;
    bottom: 0;
  }
}



ul,
ol {
  @extend %block-text;
  list-style-position: inside;

  nav & { @include reset-list; }
}

dl {
  @extend %block-text;
}

dd { margin: 0; }